[2019-02-15 09:30] Raagh opened #3 "Karma stops listening to port after a few tries."
Problem: When I try to karma run after few tries it stops working and karma returns "There is no server listening on port 9876"

Reproduce: Start the application as it is defined in the README. wait till tests are loaded in the test UI on the angular project. Click play button and wait for results. Repeat it 3 times. after the third one it will stop abruptly and return the mentioned error.

Test b

[2019-02-17 18:11] hbenl commented on #3
I stumbled upon a fix for this: when you start the karma process in `AngularRunner#runNgTest`, redirect this process's `stdout` to a file or to `/dev/null` on Linux or `nul` on Windows (haven't tested on Windows, though). You can see the fix [here](https://github.com/hbenl/angular-test-explorer/commit/044f5cf74dead44e545ce20498f73a75c8b53b11).

[2019-02-17 20:09] Raagh commented on #3
WOW @hbenl !. I cannot thank you enough. I can't believe you solve this, it was tormenting me ahah. Thank you very much.

I don't wanna take credit for it, do you wanna create a pull request and I will merge it?

Again, Thanks I was on a dead end, now I can keep going

[2019-02-21 16:12] Raagh commented on #3
I will reopen this as I tried it on windows and unfortunately even using > NUL(which should not create a file) is still creating a file were the output goes. Still now that you showed me the way I will fix it for windows soon( even if that means creating a temporary file for the output that deletes itself)

[2019-02-23 18:46] #3 closed

[2019-02-23 21:21] Raagh opened #8 "Not being able to load tests multiple times"
Problem: after tests are loaded, if you try to load them again, the ng process is killed and then after starting it again it gets stuck.

Reproduce:
Wait till all tests are loaded, click the circle arrow again. New ng process just keeps waiting forever
<img width="995" alt="screenshot 2019-02-23 at 22 21 12" src="https://user-images.githubusercontent.com/8405459/53291796-59685d00-37b9-11e9-9579-91

[2019-02-24 21:16] Raagh commented on #8
This was also solved by you @hbenl, the problem was that the socket.io server was not being closed correctly when then angular process was started again from scratch. after removing socket.io implementation and replacing it by your suggestion of a node.js ipc between process and child_process this error fixed itself.

[2019-02-24 21:16] #8 closed

[2019-03-04 16:20] Raagh opened #9 "Current Implementation not working on windows (related to child_process.spawn)"
Problem: the current implementation is not working on windows. child_process.spawn from node.js throws an error when trying to lunch angular by ng tests in a command line. On linux and MacOS it works fine.

On windows it works fine if you replace spawn by exec (but we cannot use this as it brings bigger problems)

Repro steps:
Clone repo with branch bugfix/not-working-on-windows
Start application

[2019-03-04 16:23] Raagh commented on #9
in case you wanna give it a try @hbenl ! . no compromise 👍

[2019-03-04 16:32] Raagh opened #10 "Make implementation run angular using target project dependencies instead of Explorer ones"
Make implementation run angular using target project dependencies instead of Explorer ones.

There are some older projects that don't work with the latest's dependencies referenced by the Test Explorer.

The test explorer should use the dependencies from the target project instead.

The changes needs to revolve around the Karma.Conf we use.

[2019-03-05 20:15] hbenl commented on #9
Wow, I was not aware how broken `spawn` is on Windows! There is even a [project](https://www.npmjs.com/package/cross-spawn) trying to fix [all the bugs](https://www.npmjs.com/package/cross-spawn#why). But even that doesn't solve this issue which seems to come from `spawn` being unable to create the IPC channel on Windows.

[2019-03-05 20:44] Raagh commented on #9
@hbenl yes I was surprised too. There's tons of people having the same issue, also found that project but indeed it doesn't help us in this case. Thank you very much for your changes. I will try your pull request when I get home and see what we can do too make it work.

[2019-03-12 08:52] Raagh commented on #9
@hbenl made some major changes to fix it, there is now a new way loading and running test much more similar to the one you have in other adapters and working great. also we re back on spawn with socket.io.

[2019-03-12 08:52] #9 closed

[2019-03-12 08:53] Raagh opened #12 "Make unit tests appear in alphabetical order"
Basically unit tests are appearing randomly in the UI, they should appear in Alphabetical order

[2019-03-12 09:01] Raagh opened #14 "Reload Tests not working"
Since we went back to spawn and there is not an ipc there anymore(now using socket.io) the kill process when we try to stop karma and load it again is not working.

Reproduce: launch test explorer, wait till tests are loaded, hit the reload button, nothing happens

ERROR

rejected promise not handled within 1 second: Error: kill ESRCH
extensionHostProcess.js:700
stack trace: Error: kill ESRCH
exte

[2019-03-12 16:18] Raagh commented on #8
#14 its back

[2019-03-13 19:48] Raagh commented on #14
fixed

[2019-03-13 19:48] #14 closed

[2019-03-13 19:51] Raagh opened #15 "Sometimes Socket.io client closes connection on Windows 10"
Seems to be related to this issue on socket.io repository : https://github.com/socketio/socket.io/issues/3025

Sometimes(randomly) the socket connection gets closed from the client. the on disconnect event gets triggered on the server with the error transport close. Only encountered this on windows.

[2019-03-15 17:25] Raagh commented on #10
fixed, now our karma.conf references the users karma conf for loading all dependencies. we pass parameters to the karma conf by passing environment variables to angular spawn process

[2019-03-15 17:25] #10 closed

[2019-03-17 18:34] hbenl commented on #15
You could try replacing socket.io with some "raw" networking code.
There's an example [here](https://github.com/hbenl/vscode-test-adapter-remoting-util/blob/master/src/ipc.ts) from some (unfinished) experiments I did a while back to let the Mocha Test Adapter run mocha tests remotely. In that case I couldn't use the communication channel from node's `child_process` package, so I wrote some IPC cod

[2019-03-17 18:38] Raagh commented on #15
Hey @hbenl yes for sure I will try that. Thank you very much. I am making some changes so the test mapping supports suites inside of suites(infinite amount) as currently only supports one level of suites. After that I will take a look at this ;).  After this 2 changes I think a preview release will be ready. What do you think? Anything else you think I should include on an initial release?

[2019-03-18 09:05] Raagh commented on #12
needs verification, works on mac

[2019-03-20 19:23] hbenl commented on #15
I'd say release early, release often ;)
Even if it doesn't cover everything yet, the adapter will probably be useful for a lot of people already. Just point out in the Readme that it's still under development and that people should create and vote on issues - that will give you a clearer picture what remains to be done and what people need most urgently.

[2019-03-20 19:28] hbenl commented on #15
One more thought: It seems to me that this adapter could be easily adapted to support non-angular karma tests, so perhaps you might want to change the name to "Karma and Angular Test Explorer" or something similar (?) (even if the non-angular karma support will be done later)

[2019-03-20 20:19] Raagh commented on #15
@hbenl yeah you re right. I should decide on that before publishing. And yes I was planning on supporting karma as all the logic it's the same. I just need to add a new class that starts karma server instead of doing ng test. Should not be any issue at all.

[2019-03-24 13:32] Raagh commented on #15
@hbenl hey, so before publishing it I think the test explorer should be able to show the failure messages from angular when a test failed. I have the errors, for now I will just try to push it to the vscode output( eventually support decorations as in your jasmine-test-adapter). how do you do to show message in vscode output? also, I see a Test Explorer tab in the ouput, how can I send messages to

[2019-03-24 13:56] hbenl commented on #15
For the failure message us [TestEvent#message](https://github.com/hbenl/vscode-test-adapter-api/blob/6c72ac8236d214a0400e1bbe48be339e994b3b5b/src/index.ts#L271) - it will be shown in the "Test Explorer" output channel when the test is clicked.
For the decorations use [TestEvent#decorations](https://github.com/hbenl/vscode-test-adapter-api/blob/6c72ac8236d214a0400e1bbe48be339e994b3b5b/src/index.ts#

[2019-03-24 17:07] Raagh commented on #15
https://marketplace.visualstudio.com/items?itemName=raagh.angular-karma-test-explorer

cant thank you enough. I am gonna keep working to make it great

[2019-03-24 18:40] hbenl commented on #15
Awesome! Glad to see your heroic effort come to fruition :)

[2019-03-24 23:55] prabh-62 opened #16 "Use local version of Angular CLI instead of Global"
### Thank you for this awesome extension.

________________________________

I usually don't install global binaries on my system (I try to resist as much as I can). So, whenever I have to bootstrap new angular project, I do
[code]

Since I don't have `@angular/cli` globally installed, the extension failed. Looking into the source code, I realized we look for `ng` binary.

[code]
I saw VSCode vari

[2019-03-25 07:21] Raagh commented on #16
Sure, this indeed seems like a great idea. I will look into it and get back to you on this issue when it's done.

Thank you for your feedback I would not have realize of this in my own

[2019-03-25 10:11] AlexanderLea opened #17 "Test reloader spins indefinitely"
Hi,

Trying to load my karma tests, the loading indicator is spinning indefinitely.

Are there logs I can access somewhere, or something I can do to work out what it's doing?

Alex

[2019-03-25 10:20] Raagh commented on #17
Hi, are you using Angular or just Karma? if its angular could you provide me with a test project to reproduce the bug?. the test loader currently does not supports standalone karma, only karma inside of Angular. It will be supported very soon though, as it doesn't require too much work to happen.

PS: the test explorer is called Angular/Karma cause its difficult to change the name after published.

[2019-03-25 12:02] AlexanderLea commented on #17
Using within Angular 7.

Might well be test volume - we have nearly 2800 tests.

Works fine on a ng new empty Angular project.

Will work on a repro :)

[2019-03-25 12:21] Raagh commented on #17
@AlexanderLea might be, to be honest I only have around 1500.  could you also open developer tools and check if there is an error or log in there?

Thanks a lot for your feedback!

[2019-03-25 13:53] AlexanderLea commented on #17
Ah - I've got a stack trace and error in the console.

I can't see anything related specifically to my code in here. @Raagh are you able to pass your eyes over it?

No worries for the feedback - thanks for writing the extension! We are super excited to be able to use it :)

[Extension Host] Starting Angular tests with arguments: test --karma-config="C:\Users\alexander.lea\.vscode\extensions\raagh.

[2019-03-25 14:26] Raagh commented on #17
Seems to me that you already have a server running on port 1111. I use this port for a socket connection between the custom karma reporter and the test explorer. In order to show the results of the tests in the UI.

could you check if this is the case? I will definitely make that value configurable.

If you also wanna make sure that's the issue please feel free to clone the repo follwing this step

[2019-03-25 14:58] AlexanderLea commented on #17
Cool - I'll give it a go.

I set up a new project earlier, and I didn't get any errors running on the same machine - surely that would've also failed on the port issue?

A.

[2019-03-25 15:03] Raagh commented on #17
yes unless that port is being used by the angular application itself (or a backend for that angular app), but I guess you would have noticed that. its weird that node complains exactly about that "ERR listen EADDRINUSE :::1111: Error: listen EADDRINUSE :::1111"

[2019-03-26 16:14] AlexanderLea commented on #17
Checked out the project, and ran in debug (the new port didn't make a difference - still fails).

Got a different error - does this one shed any light?

stack trace: SyntaxError: Unexpected token ﻿ in JSON at position 0
extensionHostProcess.js:700
	at JSON.parse (<anonymous>)
	at C:\Users\alexander.lea\.vscode\extensions\christian-kohler.path-intellisense-1.4.2\out\src\utils\config.js:20:25
Starti

[2019-03-26 16:25] Raagh commented on #17
Not really, though now the error is indeed further in the code, before the extension was unable to create a socket on port 1111. now the server successfully started listening on port 65535 as  the log says : "Listening to AngularReporter events on port 65535"

could you upload a test project for me so I can debug it and see where the error comes from?

do you have path.intellisense extension insta

[2019-03-26 16:33] AlexanderLea commented on #17
Uninstalled and get the same extension error - less peripheral errors tho. Here's the stack here. Maybe I'll try deleting all extensions (or a fresh install somewhere) and then give it a go.

Here's a stack with fewer other errors

2019-03-26T16:29:54.530Z - debug: [TypescriptHero] Setting up extension and activatables.
logger.js:45
2019-03-26T16:29:54.531Z - debug: [ImportOrganizer] Setting up Im

[2019-03-26 16:39] Raagh commented on #17
Indeed it might be good to try that same project( with the installed extension) on another computer or fresh install to rule out any outside interference.

If you can prepare that test project for me I will be happy to help :)

[2019-03-26 22:00] Raagh commented on #16
do you think if I run "npx ng test" would meet your needs? I been trying to run the ng file inside the node_modules. on mac and linux this is pretty easy as I can just do ./path/ng test .  On windows on the other hand I could not manage to make it work.  on the other hand doing "npx ng test" on the project root path will work on all platforms.

[2019-03-27 00:55] prabh-62 commented on #16
Instead of invoking `ng` directly, can we do `npm test` with custom arguments? Running `npm/yarn` would automatically resolve `ng` binary for us.

[2019-03-27 07:56] Camo30 opened #18 "Empty test explorer when using hybrid app"
Hi,

thank you for developing this great extension! I am trying to load my karma tests of a hybrid app (Angular CLI with embedded Angular 7 and AngularJS 1.5) which does not work since the list in the test explorer keeps empty. Did not get any debug output from the extension, neither in the output panel nor anywhere else. Tried to use the setting

but that doesn't change anything. Any thoughts?

[2019-03-27 08:25] Raagh commented on #18
Hi @Camo30  thank for downloading the extension!.
I would need some extra help to reproduce this and fix it.

Could you open developer tools on vscode and copy the error that you probably have in the console?
Could you provide me with a test project that has the bug for testing what's going on?, unfortunately I don't have an hybrid app that I can try myself.

[2019-03-27 10:08] Camo30 commented on #18
Hi @Raagh,

there are no errors in the console of the developer tools, the only thing which is visible there is this line

I looked into that file and I think i've found the problem. This line

searches the configuration file in the `src` folder, in a hybrid application the folder structure is quite different. The main `karma.conf.js` file is located in the root path, while there are sub configura

[2019-03-27 10:25] Raagh commented on #18
mmm the thing is I am looking also in the root.
`let originalConfigPath = path.join(process.cwd(), "src", "karma.conf.js");
const karmaConfigurator = new KarmaConfigurator();

const setupCorrectKarmaConfFilePath = () => {
  try {
     require.resolve(originalConfigPath);
  } catch (error) {
     originalConfigPath = path.join(process.cwd(), "karma.conf.js");
  }
};`

the code first checks src\karm

[2019-03-27 10:44] Camo30 commented on #18
You are right, the root folder will also be checked. This is my `karma.conf.js` file, I think it's quite common:
[code]

[2019-03-27 11:06] Raagh commented on #18
the only thing I could I could think of is that currently this extension doesn't work well with karma-jasmine-html-reporter  because of this : [specFilter issue](https://github.com/taras42/karma-jasmine-html-reporter/issues/25)
this prevents from running karma run ( which is used to load the tests).
I have a workaround planned but haven't implemented it yet.

could you remove it and see if it work

[2019-03-27 12:09] Camo30 commented on #18
Just removed the plugin, now it looks like this:
[code]

Does not work either. Tried some debugging but stuck at this point (line 34) in `angular-test-explorer.ts`:
[code]

Here it steps over to the end of the method (I think it's an error happening). Stepping into it leads to `tslib.js` which does not help really. Putting that code part into a "try catch" does not result in nothing else.

[2019-03-27 12:13] Raagh commented on #18
lets move it to here so we can discuss it further

https://gitter.im/Angular-Karma-Test-Explorer/community#

[2019-03-27 17:37] Raagh commented on #16
@prabh-62 there is no way to pass a custom karma.conf.js file to npm test since angular 6
as stated here https://github.com/angular/angular-cli/issues/12305 and I need code there not just single parameters.

do you think npx would be enoght? and if there is no local package then do ng test?

[2019-03-27 17:42] prabh-62 commented on #16
Sure, npx is fine

[2019-03-27 19:51] Raagh commented on #16
should be working now https://github.com/Raagh/angular-karma_test-explorer/commit/0f3daf3404d13d62e7b56f4fbb5fc2c0161f61ed

[2019-03-28 11:11] Raagh commented on #16
Did it work? Ahaha I am curious

[2019-03-28 13:51] Raagh commented on #16
sorry I made some mistakes with the versioning, so please uninstall the extension and download it again.

[2019-03-28 17:01] Raagh commented on #18
If I did understand the example correctly its gonna be a long way since I can support hybrid apps.

you can have a karma.conf.js in the root folder but i guess thats just common config, basically every app you have in the apps folder its a separate app, each with its own karma.conf.js. They re all referenced in the angular.json so I guess I could grab that to get the references to every single kar

[2019-03-28 20:26] Camo30 commented on #18
Yes i completely agree that it will not be that easy. And I'm afraid that there may be other hybrid app configurations out there which are completely different to this one. But it would be awesome to get it working, that would help me a lot!

I'll definitely try to provide an exact copy of the project folder structure in my git repo, just needs some time.

[2019-03-28 20:40] Raagh commented on #18
Sure no problem. Thanks that would be of a lot of help. In the meantime I will ask around in the angular GitHub for more info on how they handle all the karma.conf and see what I can get working

[2019-03-29 00:01] prabh-62 commented on #16
Just tried it on Mac OS, [Karma Test Explorer](https://marketplace.visualstudio.com/items?itemName=raagh.angular-karma-test-explorer) v0.1.3 works.

-----

I made sure, there is no global installation of @angular/cli
[code]

Then opened VS Code, I was able to run individual unit test.
<img width="377" alt="vscode" src="https://user-images.githubusercontent.com/13006107/55200334-1290cd00-5194-11e9-

[2019-03-29 07:26] Raagh commented on #16
Awesome, thank you for your testing and very explicit bug report

[2019-03-29 07:26] #16 closed

[2019-03-29 20:50] Camo30 commented on #18
I've created a fully working hybrid app using nwrl schematics from scratch which has exactly the same project structure, you can find the repo here: https://github.com/Camo30/karma-test-explorer-hybrid-demo

[2019-03-29 21:11] Raagh commented on #18
Hey one more question, in your project. When you run Ng test, does it run tests from all apps? Or only from one? Do you have to specify which app?.
In this demo project is the same behavior?.

[2019-03-29 21:52] Camo30 commented on #18
Yes, it should run all tests together, but I'm not completely sure. My project is heavily in progress, I'll know more in a few days. In the demo project there are only a few Angular tests, the legacy AngularJS unit tests are far less important to show in the test explorer

[2019-04-01 18:55] Raagh commented on #18
I think I figure out how it works, yes it runs all tests from all apps but it does it by starting and ending the karma process with each run( cause as I thought karma doesn't support multiple files at once)

I started working on it on this branch:  https://github.com/Raagh/angular-karma_test-explorer/tree/feature/support-multiple-apps .its gonna take time but it something mandatory cause its the s

[2019-04-03 05:14] Camo30 commented on #18
Sounds great, thank you! I'm really looking forward to the update. It would be awesome to have a config value to set the current project which is getting tested.

[2019-04-06 16:26] Raagh commented on #17
Any more information on this?

[2019-04-10 19:32] future-pirate-king opened #21 "I am not able see tests in test explorer"
I installed the extensions test explorer ui and angular/karma test explorer.
is there any other steps required ?

[2019-04-10 21:53] Raagh commented on #21
Not really. What kind of project is? Angular or Karma? What version? Could you provide me with a test project to try it out?.

As long as it's a regular angular-cli project it should work fine. If it's an angular library or hybrid app or regular Karma project I am still working on it.

Please update the issue with the template required for reporting issues. All the information requested is really

[2019-04-10 21:56] Raagh commented on #17
Closed due to lack of information

[2019-04-11 19:01] future-pirate-king commented on #21
I am using angular 7 project. The extension is working now.
I closed all the application, restarted the system and started vs code again and the extension started working. the only problem I am seeing is reload icon is continuously spinning. #17
Anyways thanks for the fast reply :)

[2019-04-11 19:04] Raagh commented on #21
By any chance do you have other test explorer(Jasmine, jest, etc) installed or Jest extension installed? I noticed that problem on mac os with the jest extension installed.

[2019-04-11 19:41] future-pirate-king commented on #21
![image](https://user-images.githubusercontent.com/32875617/55987709-bebbd300-5cbf-11e9-8e98-7d2efec49dc4.png)

I am again facing using issues releod icon is rotating and no tests are visible.

[2019-04-14 07:46] Raagh commented on #21
Sorry for the delay, but I am on holidays. I will get back to working on this tomorrow. Could you provide me with a test project where I can replicate this? It will make solving it incredibly easy :)

[2019-04-14 12:11] future-pirate-king commented on #21
the project has regular app module and inside that module a user module with three components. All the test files just have one test for component creation. I forked your repo and tried the with an newly generated angular project and what I found was when the connection gets disconnected then you reload the test explorer which leads to continuous spinning of releod icon and sometimes tests starts

[2019-04-14 12:21] Raagh commented on #21
I don't understand, you see the tests but the icon spins or you don't see the tests at all?. The reloading should only happen if the browser cuts connection with the socket. This is an edge case and should not happen constantly.

Can you explain how is the behavior step by step for you.

[2019-04-14 14:19] future-pirate-king commented on #21
ok

1. Tests gets loaded
2. I run all tests at once
3. browser cuts socket connection and reload starts

and if I click reload too it just continuously spins

[2019-04-14 14:27] Raagh commented on #21
Awesome, now I get it. One question. Do you have single run = true in your karma.conf? Does this happens also with a newly created angular cli project? What happens if you run a single test and not all of them?

[2019-04-14 14:34] Raagh commented on #21
I will try to reproduce it today, maybe I missed something with last update. Please any extra information you think might be relevant

[2019-04-14 15:59] future-pirate-king commented on #21
yes singleRun = true, running single test works fine.
Here's karma.conf.js
`// Karma configuration file, see link for more information
// https://karma-runner.github.io/1.0/config/configuration-file.html

module.exports = function(config) {
  config.set({
    basePath: '',
    frameworks: ['jasmine', '@angular-devkit/build-angular'],
    plugins: [
      require('karma-jasmine'),
      require('ka

[2019-04-14 18:54] Raagh commented on #21
I have uploaded version 0.1.6, this should fix the reloading issue, reloading was causing a socket disconnect( "transport close") which would try to reload again the tests causing some problems. Now command.reload should happen on socket.close, but reloading through the ui is gonna trigger a force close ( which will not use the command).

I was not able to replicate the transport close you mention

[2019-04-14 19:52] future-pirate-king commented on #21
yes i will let you know if find any issue

[2019-04-14 20:04] Raagh commented on #21
Awesome, and thanks again for reporting this issue. With next update I will try to improve unit and integration testing to catch as much as possible myself

[2019-04-15 13:57] AlexanderLea commented on #17
Hi,

Sorry for lack of contact - holiday/busy etc.

I've got a fresh install with no extensions, and getting different errors with the latest code from git:

Starting Angular tests with arguments: test --karma-config="c:\Users\alexander.lea\Documents\GitHub\angular-karma_test-explorer\out\config\test-explorer-karma.conf.js" --progress=false
logger.js:6

Listening to AngularReporter events on port

[2019-04-15 14:16] Raagh commented on #17
make sure you have the last master downloaded without any changes. also make sure you have npm install in your project and that doing ng test successfully runs tests inside your project.

after that if you have this 2 lines not commented: https://github.com/Raagh/angular-karma_test-explorer/blob/7bd609e635b6bfda4991b3e970a0b7e910180314/src/workers/servers/angular-server.ts#L44

you should get erro

[2019-04-15 14:52] future-pirate-king commented on #21
I have tried the new version and its working nice. Thanks for the fix :)

[2019-04-15 14:52] #21 closed

[2019-04-15 15:02] AlexanderLea commented on #17
Hey,

So if I run ng test I get the fairly standard "JavaScript heap out of memory" error (https://github.com/angular/angular-cli/issues/5613).

If I run `node --max_old_space_size=4096 "./node_modules/@angular/cli/bin/ng" test` then I get a successful test run. I can't see any option that would allow me to set extra params/change the command instead of ng test.

Debugging with that line uncomment

[2019-04-15 15:02] Raagh commented on #21
@future-pirate-king glad to hear that!, thank you for reporting and providing the info needed.

[2019-04-15 15:08] Raagh commented on #17
okey, So i am guessing that after fixing the karma error will still not working cause there is something already wrong with your enviroment, ng test should work on your project for this too work. I like the idea of adding a config value for extra parameters though. I will try to implement it in future updates.

But lets try to fix the karma issue first, is actually your karma.conf there?

for a re

[2019-04-15 15:38] AlexanderLea commented on #17
Hi,

I feel stupid - karma.conf.js was buried in a /configs directory. I've moved back to the route and now I'm getting the out of memory exception from `ng test`.

If I change ln 55 of angular-server.ts to be:
`const commonArgs = ["test", `--karma-config="${baseKarmaConfigFilePath}"`, "--progress=false", "--sourceMap=false"];`

... then it works (angular runs out of memory generating the sourcema

[2019-04-15 15:42] Raagh commented on #17
Awesome!, we dont really need the source maps so I will make sure to include that code with next update.

Also about the config don't worry, the multi-apps branch I showed you already reads the path of the karma.conf from the angular.json so hopefully for next version your scenario will be fully supported :). I will comment here to let you know when that happens

[2019-04-15 15:54] AlexanderLea commented on #17
Thanks so much for your help and patience :)

[2019-04-15 15:54] #17 closed

[2019-04-15 15:57] Raagh commented on #17
No worries, thank you for downloading the extension and take the time with bug

[2019-04-22 16:00] chintu538 opened #23 "Angular/karma test explorer - The Angular version you re using is not supported, please update to Angular 6+"
Hello Raagh,

I have installed Angular/Karma test explorer in visual studio code and it was working fine till last week. I'm getting this error now 'The Angular version you re using is not supported, please update to Angular 6+'.

Please find my CLI version details below,

Angular CLI: 7.0.3
Node: 8.12.0
OS: win32 x64
Angular:
...

Package                      Version
-----------------------------

[2019-04-22 16:21] Raagh commented on #23
You have an old angular-cli.json in your root project right?

If the test project is using a higher version of angular should have an angular.json in the root of the project. That error is triggered when that angular-cli.json is present.

Could you provide me with that file? It is weird that it was working before cause the karma.conf.js file for old angular projects should be totally different and

[2019-04-22 16:31] chintu538 commented on #23
Thank you for the response.. Please find the angular-cli.json file below,

{
  "$schema": "./node_modules/@angular/cli/lib/config/schema.json",
  "project": {
    "name": "poc2"
  },
  "apps": [
    {
      "root": "src",
      "outDir": "dist",
      "assets": [
        "assets",
        "favicon.ico"
      ],
      "index": "index.html",
      "main": "main.ts",
      "polyfills": "polyfills.ts"

[2019-04-22 16:32] chintu538 commented on #23
Thank you for the response.. Please find the angular-cli.json file below,

{
"$schema": "./node_modules/@angular/cli/lib/config/schema.json",
"project": {
"name": "poc2"
},
"apps": [
{
"root": "src",
"outDir": "dist",
"assets": [
"assets",
"favicon.ico"
],
"index": "index.html",
"main": "main.ts",
"polyfills": "polyfills.ts",
"test": "test.ts",
"tsconfig": "tsconfig.app.json",
"testTsconfig": "tsc

[2019-04-22 16:43] Raagh commented on #23
Could you also provide me with the karma.conf.js?

[2019-04-23 21:29] Raagh commented on #23
could you also provide me with a test project so I can verify your exact configuration? I find strange that you re using angular-cli.json and it was working

[2019-04-24 20:35] chintu538 commented on #23
Hello Raagh,

Please find the karma.config.js below,

module.exports = function (config) {
config.set({
basePath: '',
frameworks: ['jasmine', '@angular-devkit/build-angular'],
plugins: [
require('karma-jasmine'),
require('karma-chrome-launcher'),
require('karma-jasmine-html-reporter'),
require('karma-coverage-istanbul-reporter'),
require('@angular-devkit/build-angular/plugins/karma')
],
client:{
c

[2019-04-24 20:37] chintu538 commented on #23
Hello Raagh,

I'm seeing all my tests and able to run it. But when click on 'Test
Explorer - Refresh Tests' I'm seeing 'The Angular version you re using is
not supported, please update to Angular 6+' error.

Thanks,
Sabareesh.

On Wed, Apr 24, 2019 at 1:35 PM Sabareesh Reddy <sabareeshreddyk@gmail.com>
wrote:

[2019-04-24 20:48] Raagh commented on #23
okey I see what the problem is, I though that if the angular-cli.json was present then the project was not gonna be supported. this was a mistake, I need to only check that its an angular project and if not return the error. I will fix it in the next release, probably tomorrow :). I will let you know here when its pushed so you can try it. Thanks for reporting it 👍

[2019-04-24 22:40] chintu538 commented on #23
Thank you so much for your support. :)

On Wed, Apr 24, 2019 at 1:48 PM Patricio Ferraggi <notifications@github.com>
wrote:

[2019-04-25 00:12] chintu538 commented on #23
Hi Raagh,

Could you also please check sometimes all the tests are loading in the test
explorer sometimes not.

[image: image.png]

I'm not seeing the tests. Thank you.

Regards,
Sabareesh.

On Wed, Apr 24, 2019 at 1:48 PM Patricio Ferraggi <notifications@github.com>
wrote:

[2019-04-25 14:40] Raagh commented on #23
Hey, so I have a version of the code that I think should be working for you. could you provide me with a test project that I can test?  also, if you go to the root of the project and run ng test poc2( the name of your project in your angular-cli.json) does it work?

[2019-04-25 16:29] chintu538 commented on #23
Sure Raagh. I will send you the test project. I'm not seeing any new
version released. I'm seeing the current version as 0.1.7 which is 2 days
ago.

Thank you.

On Thu, Apr 25, 2019 at 7:40 AM Patricio Ferraggi <notifications@github.com>
wrote:

[2019-04-27 16:39] Raagh commented on #23
Yes still haven't released 0.2.0 I think it's gonna happen today. I hope that this version already works for you. If not please let me know

[2019-04-28 20:58] Raagh commented on #23
just published version 0.2.0, please let me know if everything is working for you now :).

[2019-04-28 21:01] Raagh commented on #18
I added initial support for multi apps. Now apps will be loaded from the angular.json file, there it will find the corresponding karma.conf.js, also you can setup a configuration value for the app you want to run (based on the name used in the angular.json).

still havent figured out how to load multiple apps at the same time in the test explorer. so for now you have to pick the one you want to lo

[2019-04-29 01:42] chintu538 commented on #23
Working good. Thank you :)

On Sun, Apr 28, 2019 at 1:58 PM Patricio Ferraggi <notifications@github.com>
wrote:

[2019-04-29 05:47] #23 closed

[2019-05-03 04:16] Camo30 commented on #18
Thank you very much, this is a great addition. I'm quite busy at the moment so I can't test it extensively. As a first small feedback: it seems to work but it's fairly slow. To get the available two unit tests (angular 7) from the project it lasts more than one minute.

[2019-05-03 05:59] Raagh commented on #18
You should also have an output channel called test explorer logs..please check that and let me know what you see. It should not take much longer that running Ng test as that is exactly what it does to load the tests, maybe something is getting error in the middle of the process and restarting.

[2019-05-09 14:25] thanasekar-mists commented on #15
ol

[2019-05-09 20:05] Raagh commented on #18
new update will bring a picker in the status bar that will let you select the project you want to test in case of having multiple projects in one root, thats gonna be the full feature. I will let you know here when that is out

[2019-05-12 16:04] Raagh commented on #18
now you can see an icon on the navbar of the test explorer in case you want to change the selected project, I consider this as full support for hybrid apps. Please feel free to open a new bug if you find something new :)

[2019-05-12 16:04] #18 closed

[2019-05-13 13:16] GoGoris opened #24 "ERR Cannot read property 'map' of undefined"
**Describe the bug**
After installing the extension nothing happens. The following error is visible in the developer tools.
Do I need to install any dependencies?

**Logs**

[code]

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser N/A
 - Angular Version 7.1.4
 - Node version 10.15.3

[2019-05-13 21:28] higgins1b commented on #24
I am having the same issue.
Log is the same, environment is same(except I am using Angular 7.2.13).
Nothing in the Test Explorer Logs.

I am happy to include further details if you need them.

[2019-05-13 21:37] Raagh commented on #24
Hey Michael thanks for answering, I will look at it tomorrow and let you guys know if I find something. Maybe something changed on the latest versions of angular.

Could any of you upload a test project for me where this happens? That would be of terrific help. Also please if you could answer the same questions I asked Steven that would be awesome ;).

Thank you both for downloading and reporting

[2019-05-14 07:47] Raagh commented on #24
I tried to reproduce it with a freshly new created project( latest angular version) on mac and windows but it seems to work fine.
Also tried with some real life examples and it worked( old versions of angular). I noticed a completely different bug that I will try to fix today. For fixing your bug I would really need more information or the test project so I can replicate it locally.

[2019-05-14 14:17] Raagh commented on #24
@higgins1b that's not possible, for that the tests need to load first.
Loading the tests: The test explorer start a child_process with ng test passing a custom karma config file(needed to avoid wrong behavior). after ng test has started(no tests will run at start) and there is an instance of karma running it runs a custom karma search using --grep="#%#@" this will not match any test so it will ski

[2019-05-14 14:46] higgins1b commented on #24
@Raagh Thank you for your work, and for being active and responsive.

I think I have tracked it down, @GoGoris maybe you can confirm if your project is set up this way.

So, my project is within a folder in my workspace. This can be reproduced easily.

Steps to reproduce(you don't need to follow these steps exactly, this just illustrates the concept of not having the angular project directly in th

[2019-05-14 14:56] Raagh commented on #24
@higgins1b  no worries, love to help.
Ahh yeah that indeed seems to be the issue. if you re not in the folder of the project the test explorer will not find your angular.json file, then tests will not be loaded( the error seen in the console seems is that I am returning and empty TestSuiteInfo and the test explorer UI is trying to map that and failing).

Sure I can add a configuration property on

[2019-05-14 15:01] higgins1b commented on #24
Yes, it works correctly if the angular application is in the workspace root.

[2019-05-14 15:03] Raagh commented on #24
Okey, lets wait for @GoGoris confirmation but I am gonna start trying some changes to get that configuration as soon as possible. It shouldn't be too complicated really.

Thanks for all your help  👍

[2019-05-16 08:32] konrad-garus opened #25 "Configurable "root" directory"
**Is your feature request related to a problem? Please describe.**

I'd like to use the plugin with multi-directory workspaces (think of a project with separate "server" and "client" directories, the latter being an Angular app).

**Describe the solution you'd like**

The plugin should provide configuration option to set root/work directory, similar to e.g. `jasmineExplorer.cwd`.

**Describe alter

[2019-05-16 08:40] Raagh commented on #25
Hey @konrad-garus  thank you for providing feedback!, this it's been already pointed to me regarding this bug https://github.com/Raagh/angular-karma_test-explorer/issues/24.

I am already working on it and it will be included in the next release!.

In your opinion what would you prefer? a configuration like 'jasmineExplorer.cwd' or a configuration file that you can include in your workspace and it

[2019-05-16 08:43] Raagh commented on #24
I will close the bug as a [feature request](https://github.com/Raagh/angular-karma_test-explorer/issues/25) has been created with the same request @higgins1b  @GoGoris.

apparently more people are in need of this feature. Thank you very much for helping me building this.

[2019-05-16 08:43] #24 closed

[2019-05-19 21:07] subramn opened #26 "Tests not showing with regular angular projects"
This works only with Angular CLI based projects. i tried with a regular angular project and doesnt show the tests. is there any special setting i need to enable?

[2019-05-19 21:14] Raagh commented on #26
Not really, the problem is currently the test explorer needs and angular.json/angular-cli.json file to track the position of the karma.config.js and the folder of the source.

Without the cli basically anyone can come up with the structure that they want and it would be imposible to find those files.

I could include 2 config properties so you can setup those yourself. Would that be enough? Could

[2019-05-19 21:25] subramn commented on #26
Sure. Thanks for your quick reply. this is very helpful. I will submit a feature request

[2019-05-19 21:28] Raagh commented on #26
No worries, thank you for letting me know this. I will close the issue and start working on a solution. I am already adding configuration values for another feature request so I will probably do both at the same time and fit them in the next release.

Thanks for creating the feature request.  I will let you know there when the solution is ready.

[2019-05-19 21:28] #26 closed

[2019-05-19 21:50] subramn opened #27 "Support Non CLI Based angular projects"
**Is your feature request related to a problem? Please describe.**
When i try to run the unit tests for a angular project (Not cli based) , unit tests are not displayed in the explorer

**Describe the solution you'd like**
Provide a configurable entries so that test explorer can discover the available unit tests and display them.

**Describe alternatives you've considered**
no alternatives conside

[2019-05-20 08:15] GoGoris commented on #24
Thank you for your help! I reopened the angular project folder and now I see the tests in the test explorer. So I guess that this was indeed the problem. However when I add other folders to my workspace in version 0.2.1, the tests get duplicated in the test explorer. I will create another bug for this

[2019-05-20 09:20] GoGoris opened #28 "Duplicate test suites in multi project workspaces"
**Describe the bug**
Test suites are duplicated as many times as there are folders opened in a multi project workspace.

**To Reproduce**
https://github.com/GoGoris/code-karma-test-explorer-bug-duplicate-tests
1. Open workspace duplicate-tests/duplicate-tests.workspace
2. npm install
3. Reopen workspace and check tests in test explorer

**Logs**
[code]

**Screenshots**
If applicable, add screensho

[2019-05-20 09:27] GoGoris opened #29 "Karma test watchers are started but not stopped correctly"
**Describe the bug**
More and more Karma test runners are spawned but they are never terminated.

**To Reproduce**
Open a few projects that contain karma tests and close them again.

**Logs**
[code]

**Screenshots**
![afbeelding](https://user-images.githubusercontent.com/2930063/58011168-010fd580-7af2-11e9-9b41-ce92362612ff.png)

**Desktop (please complete the following information):**
 - OS: Wind

[2019-05-20 09:32] GoGoris commented on #24
Update 0.2.1:
With multi project workspaces, one of the following occurs:
1. I have this bug (map is undefined) and see no tests
2. I see the tests duplicated #28

I also noticed that my editor freezes after opening the project a few times because a high amount of concurrent karma runners are spawned by the plugin: #29

[2019-05-20 12:10] Raagh commented on #29
Hi, thanks for opening the bug for this. Already noticed it myself and it's already fix. I am gonna push it this week with the configuration changes release :)

[2019-05-20 12:18] Raagh commented on #28
Hey Steven @GoGoris , again thank you for submitting and bug and uploading a test project where I can reproduce it. I am gonna take a look to it soon so hopefully next release fix this problems for you.

Regards,
Patricio

[2019-05-22 20:36] Raagh commented on #25
just released 0.2.2, this should fix the problem for you.

now you have a new configuration property called angularKarmaTestExplorer.angularProjectRootPath.

basically once you re on your workspace just specify there the path of the folder of the angular app.

so lets say your path is workspace/angular-app and workspace/api
open workspace and just set that property to angular-app.

please let me k

[2019-05-22 20:36] Raagh commented on #29
should be fixed with latest release. Please check and let me know

[2019-05-22 20:38] Raagh commented on #28
sorry I been really busy with the multiple instances bug that I thought it was fixed, in the end it wasn't. just tried it and seems to work fine on windows and mac. I will start with this now.

[2019-05-24 00:54] subramn commented on #27
any luck on this?

[2019-05-24 05:34] Raagh commented on #27
Not yet. I am trying to support multi root workspaces on cli projects. After that I will move on to this :). If you need it very bad please feel free to contribute to the project. I will answer any questions you have for me, if not no problem. I will tackle it after the other open feature request

[2019-05-24 08:50] GoGoris commented on #29
The issue is still present in 0.2.2. Opening the duplicate tests project from project #28 and refreshing a few times locks up my computer.

[2019-05-24 08:51] GoGoris commented on #28
Sometimes I see no test suites, other times I see 2 test suites in the same project. It looks like some kind of race condition.

[2019-05-24 09:00] Raagh commented on #29
Please don't open that project. Multi-root workspaces is not supported yet so of course is gonna cause issues. Please try it with a supported project. It seems to be working on regular projects

[2019-05-24 09:02] Raagh commented on #28
I was able to reproduce it perfectly with your test project thanks :). I am working on a solution for this, will keep you posted here when I have it finished.

[2019-05-24 09:03] #25 closed

[2019-05-27 13:39] VaultDeveloper commented on #28
I'm also interested in the support of multi-project app.

[2019-05-27 13:46] Raagh commented on #28
@VaultDeveloper  hi Marco, multiproject app is supported, what its still not supported is multi-root workspaces. as long as its not a workspace file and you have both projects under one root. You can open the root and use this extension(configuring the path for the angular app). Anyway, I am working on supporting multi root workspaces, it will be available soon :)

[2019-05-29 07:23] Raagh commented on #29
@GoGoris hi Steven, did you tried with a regular project?(non workspace)

[2019-05-29 12:31] VaultDeveloper commented on #28
I'm also interested in multi-root workspace.

Je travaille sur un projet monorepo qui fonctionne parfaitement, y compris les tests en ligne de commande. L'extension se lance correctement et affiche les tests du premier projet (qu'elle arrive à lancer sans problème.

Par contre, quand je change de projet, en cliquant sur le bouton en haut à gauche, l'extension charge à l'infini, et les ventilateurs

[2019-05-29 12:54] Raagh commented on #28
Hey @VaultDeveloper I will let you know when multi root workspaces are supported :). I don't speak french, please comment in English if you can. From what I understood with google translate. The first project loads fine. what kind of projects are the others? regular angular projects or ionic? Ionic is not supported( to be honest never worked with ionic before so I have no idea how is the structure

[2019-05-29 12:54] #28 closed

[2019-05-29 12:56] Raagh opened #30 "Fully support multi-root workspaces(Currently only supports one angular app in the workspace)"
**Is your feature request related to a problem? Please describe.**
Feature is related to this [bug](https://github.com/Raagh/angular-karma_test-explorer/issues/28).
Currently vscode multi-root workspaces are not working.

**Describe the solution you'd like**
When opening a workspace the default angular project should load on the test explorer.

**Describe alternatives you've considered**
No altern

[2019-05-29 12:57] #15 closed

[2019-05-30 15:15] Raagh commented on #27
@subramn  do you have an angular non cli project I could use as example? I don't know how tests are run if there is no cli to actually do ng test and run de angular-dev-kit. Are just karma tests? please if you could provide me with an example it would be awesome for me to develop this feature.

[2019-05-30 16:45] subramn commented on #27
Sure. i will upload a working solution by today.

[2019-05-30 16:54] Raagh commented on #27
@subramn thanks :), I am doing some refactorings needed to implement multiple type of servers, hopefully it will make the implementation of this feature much easier.

[2019-05-30 19:53] Raagh commented on #30
@GoGoris @VaultDeveloper just uploaded 0.2.3, this version supports multi root workspaces(for now only one folder in that workspace can contain an angular app).

[2019-05-30 23:51] subramn commented on #27
I am attaching a solution, please extract and do npm install
[Angular8-Template.zip](https://github.com/Raagh/angular-karma_test-explorer/files/3239116/Angular8-Template.zip)

[2019-06-05 14:54] plchampigny opened #31 "Add fileUri to testNodes and suiteNodes for ViewSource feature enabling"
**Is your feature request related to a problem? Please describe.**
Problem: testNodes and suiteNodes from the karma adapter doesn't feed the fileUri from the test which prevent the "ViewSource" feature from the test explorer plugin.

**Describe the solution you'd like**
Since Karma doesn't provide this information, I guess a workaround would be to manually match the files by using jasmine to find

[2019-06-05 14:58] plchampigny commented on #12
You can sort using the test explorer plugin without doing it manually in your plugin

[2019-06-05 15:01] Raagh commented on #31
Hey Pierre @plchampigny thanks for proposing a feature for this. Indeed this is a problem. I am currently working on supporting standalone karma, after that I will start working on improving file decorations and enabling the ViewSource feature.

And yes I looked into the solution and I will have to come up with a creative way of doing it. Unfortunately working with karma its been a pain in the ass

[2019-06-05 21:37] #12 closed

[2019-06-07 00:59] subramn commented on #27
any update on this

[2019-06-07 09:23] Raagh commented on #27
still working on it. you can follow progress on this branch https://github.com/Raagh/angular-karma_test-explorer/tree/feature/support-standalone-karma

[2019-06-11 09:48] GoGoris commented on #29
OK I found a way to reproduce it with one project open. If I select a project, 8 chrome processes are started. If I select a project while there is already a project loading, 8 more are started up. So when I select a project 3 times in a row, 3*8 chrome processes are started up. When I close the project, only the last 8 processes are stopped. The other ones are still running.

[2019-06-11 09:50] GoGoris commented on #30
Good work! Multi root workspaces with one angular project are working now.
However I noticed that the tests are not loaded if I open the root project. Is this normal?

[2019-06-11 09:56] Raagh commented on #30
@GoGoris yes, if you want to open the root project without workspaces you will have to use the properties to specify to the test explorer were the angular project is located.

If its a regular angular cli project use
angularKarmaTestExplorer.angularProjectRootPath | The working directory where the angular project is located (relative to the root folder)

if its an hybrid app use also this one.
ang

[2019-06-11 09:58] Raagh commented on #29
Okey I see, so before the tests are loaded into the explorer you open a new project? I am gonna try that. Thanks @GoGoris !.

[2019-06-12 09:45] GoGoris commented on #29
Yes, I loaded the same project again by selecting it in the test explorer while it was already loading

[2019-06-13 22:11] Raagh commented on #27
@subramn just released version 0.3.0 with support for standalone karma and non cli projects. Just setup projectType as "Angular"/"Karma" and the path for the karma.conf.js based on the project folder and it will work just fine. I used your project as test during development.

Please let me know if you face any issues! enjoy :)

[2019-06-13 22:49] subramn commented on #27
Thanks. i have updated settings.json with project type and conf path
  "angularKarmaTestExplorer.projectType": "Angular",
  "angularKarmaTestExplorer.karmaConfFilePath": "."

is something i am missing.

[2019-06-14 06:05] Raagh commented on #27
The default value for karmaConfFilePath is karn.conf.js, if the file is in the root of the project you re supposed to leave it as it is.

[2019-06-14 06:42] aavelyn opened #32 "Activating extension 'raagh.angular-karma-test-explorer' failed: Cannot find module '..../.vscode/extensions/raagh.angular-karma-test-explorer-0.3.0/out/main.js'."
**Describe the bug**
I've created a new angular 7 application with the cli. Installed the plugin and reloaded vscode.
Tests won't load, so I checked the vscode console and got this error

_logMessageInConsole @ workbench.main.js:3187

t.log @ workbench.main.js:238

	at Function.Module._resolveFilename (internal/modules/cjs/loader.js:602:15)
	at Function.Module._load (internal/modules/cjs/loader.js

[2019-06-14 07:30] Raagh commented on #32
Hi, thank you for reporting this bug. Are you opening the project folder in vscode or opening a root folder that contains multiple projects? Are you using open folder or open workspace?

[2019-06-14 08:33] aavelyn commented on #32
It's a single project.
1. ng new test
2. install your vscode plugin (all other test-explore plugins deinstalled before)
3. reload vscode

I also noticed that the default karma.conf.js path is just "karma.conf.js" from Root while a cli created angular project put it to root/src/karma.conf.js

[2019-06-14 08:41] Raagh commented on #32
No worries, the karma.conf configuration it's only used on karma/angular projects.  With angular cli projects everything is get from the angular.json or angular-cli.json.

And in vscode you re opening the root folder of the project?( where the angular.json is located ).
Another stupid question, did you do npm install on the project?
If you run Ng test from the project the tests run?

I am gonna ru

[2019-06-14 11:10] subramn commented on #27
Ok thanks. do i have to create a settings.json specific to project and setup this
I have updated the settings.json for vscode
  "angularKarmaTestExplorer.debugMode": true,
  "angularKarmaTestExplorer.projectType": "Angular",
  "angularKarmaTestExplorer.karmaConfFilePath": "karma.conf.js"

No luck yet

[2019-06-14 11:23] Raagh commented on #32
@aavelyn just posted version 0.3.2 it should work fine, something in my azure pipeline is messing the package or the publish. I am not sure exactly which part. Its the same code just a version I packaged myself and published manually. Tried it on an regular cli project and its working

[2019-06-14 11:43] aavelyn commented on #32
It works now thanks! Great Plugin!

Some things I've noticed:

- It took over 3min to initialize and load all the tests. (I have roughly 80)
- It would be great to have a folder view (see where the spec files are)
- It would be great to see the total amount of tests run/fail

Cheers!

[2019-06-14 11:54] Raagh commented on #32
Really happy it works now and you like it!. last release was a problem, I need to step up on stability.

Totally agree it should'nt take that long to load, specially that 80 is not a lot of tests. One question on that matter, how long does it take when you run "ng test" from the project?

Great suggestions, I will consider them for future updates. Shouldnt be that hard to implement( I am still new

[2019-06-14 11:54] #32 closed

[2019-06-14 12:07] Raagh commented on #27
Hi, please be sure to be on version 0.3.2 I published a few minutes ago. I had some issues with the azure pipelines and 0.3.0 was corrupt. I just tried your template with 0.3.2 and this as configuration in a separate settings.json file `"angularKarmaTestExplorer.projectType": "Angular",
"angularKarmaTestExplorer.karmaConfFilePath": "karma.conf.js"` and it loads fine.

[2019-06-15 22:29] subramn commented on #27
I tried again and now the tests show up , but not able to run them.

![Annotation 2019-06-15 182817](https://user-images.githubusercontent.com/5430629/59556971-70ff6780-8f9b-11e9-80b3-e0ca47ef3b4f.jpg)

[2019-06-16 05:46] Raagh commented on #27
Change the name of the tests, the test explorer doesn't support two tests with the same name in the same folder structure( the name is used as an ID for running single tests and displaying errors), that's why you see that warning icon

[2019-06-16 05:46] #27 closed

[2019-06-16 10:29] subramn commented on #27
Thank you so much and issue is resolved.

[2019-06-16 10:35] Raagh commented on #27
@subramn awesome news! hope you enjoy the extension.

[2019-06-17 13:52] chrismay opened #33 ""npx not found" when loading tests"
**Describe the bug**

On startup, the extension logs the following:
[code]
- and no tests are shown in the explorer view

**Logs**
Same error as above is visible in the console.

**Desktop (please complete the following information):**
 - OS: Code running on Windows 10, *using remote SSH extension (ms-vscode-remote.remote-ssh) to run the language server and extensions on an Ubuntu box*
 - Browser

[2019-06-17 14:08] Raagh commented on #33
Hey @chrismay thanks for reporting the issue, I will do my best to help you out.

The command is trying to run is "npx ng test" which will be basically running angular ng test but with the local dependency. This is done because your system doesn't have the angular cli installed globally, only locally in the project folder.

what happens if you go the root folder of the project with the command lin

[2019-06-17 18:14] chrismay commented on #33
Hi, thanks for getting back so quickly!

npx runs fine from a logged-in bash/zsh session:
[code]

_however_, if I run with a clean environment, it does not:
[code]
This is because node/npx/ng etc aren't on the path by default; the `nvm` utility adds them to the path when it runs. Presumably, whatever process is starting the `npx` command from within the extension isn't aware of nvm.

Can you point

[2019-06-17 19:17] Raagh commented on #33
Hi, yes sure. the angular process is start in this [line](https://github.com/Raagh/angular-karma_test-explorer/blob/533c727e451f5fc86f7adffe289dd740800ae97b/src/core/angular/angular-server.ts#L45)

 and the commands are setup a lil before [here](https://github.com/Raagh/angular-karma_test-explorer/blob/533c727e451f5fc86f7adffe289dd740800ae97b/src/core/angular/angular-process-configurator.ts#L26)

[2019-06-17 20:11] chrismay commented on #33
Hmm; I think it's going to be difficult to do this in a way that works reliably.

When VS code remote extensions start up on the server, they don't have any knowledge of the users' `.bashrc` configuration. So tools like `nvm`, which modify your path after login, are invisible to them; there's no way (other than sniffing around the `~/.nvm` directory) for the extension to know which node version th

[2019-06-18 07:49] Raagh commented on #33
Ahaha I totally get it, please let me know if everything works as expected when you install node in the server. I am gonna close this bug and create a feature request for the node installation path. Sounds as a good idea to me for anyone that really needs that option you mentioned. I will get to it when I finish with the current feature requests.

Again thanks for coming up a definition of the pro

[2019-06-18 07:49] #33 closed

[2019-06-18 07:50] Raagh opened #34 "Let user configure node installation path for running npx command"
related to [bug](https://github.com/Raagh/angular-karma_test-explorer/issues/33)

[2019-06-27 18:19] Raagh commented on #31
@plchampigny Just release version 1.0.1 which includes view source support, gutter decorations and test decorations on error. Hopefully everything works okey for you. If not please let me know.

[2019-06-27 18:19] #31 closed

[2019-07-04 17:21] plchampigny opened #35 "Problem while loading test"
**Describe the bug**
No tests are loaded. I had to show vscode debugger (CTRL+Shift+I) to find out the source of the issue

**To Reproduce**
I cannot upload a project to reproduce the issue. Hopefully the trace will indicate you the source

**Logs**
  ERR The "path" argument must be of type string. Received type undefined: TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type strin

[2019-07-04 17:27] Raagh commented on #35
Hi pierre, thank you for submitting the bug. I will take a look at it tonight when I get home and create a test to reproduce it. That stacktrace seems to be enough to fix it.  Could you do one try just to be sure, if you try it on a freshly created angular cli project does it work?

[2019-07-04 19:08] Raagh commented on #35
@plchampigny I just pushed the fix for your problem. In a few minutes the new version should be built and published by the pipeline.

The problem is that if that's the case then some of your tests don't have a filePath(its undefined) then for those tests the show source function will not work.

I have tried it with my work project, and with a freshly created angular cli project and it works on bot

[2019-07-04 21:55] plchampigny commented on #35
Hello @Raagh, I pulled you fix and my solution is still bugging, but now while loading test suites with undefined path:

`ERR The "path" argument must be of type string. Received type undefined: TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received type undefined
	at assertPath (path.js:39:11)
	at Object.join (path.js:432:7)
	at SpecResponseToTestSuiteInfoMapper.cr

[2019-07-04 21:59] plchampigny commented on #35
@Raagh I'm testing the new extension, I've was about to post an error but it seems my vscode didnt reload the extension. I'll be investigating on my side which test doesnt have the goto file feature and check the reason why they dont.

[2019-07-04 22:10] plchampigny commented on #35
@Raagh Okay I found out the issue. We created internally a decorator system to create jasmine test using classes. For example:

[code]

will generate a suite with the name MyTestSuite and the someTest test

Looking at your code, I think you match the files content to find the test matching those files. Having a way to configure the regex to match these decorator for me would be wonderful.

[2019-07-04 22:22] plchampigny opened #36 "Debugging tests"
**Is your feature request related to a problem? Please describe.**
Right now the debug test feature is not implemented.

**Describe the solution you'd like**
Be able to debug a test directly by clicking the debug button

**Describe alternatives you've considered**
Manually do it

[2019-07-04 22:24] plchampigny commented on #36
I know it's in the README.md that you are planning this feature, but I wanted an issue for this. I don't know if this is work intensive, but we could put one of our guy on the problem and submit a PR.

[2019-07-05 08:24] Raagh commented on #35
@plchampigny I understand the system, but I don't understand why tests are not being matched.

If you create the jasmine tests using those classes the "angular-karma_test-explorer/src/core/shared/path-finder.ts" should still found those jasmine tests that were created and use those. It will not map to the classes for sure but why is not mapping to those created jasmine tests? can you give me an ex

[2019-07-05 08:32] Raagh commented on #36
That would be awesome for sure! , indeed I expect to be a very work intensive feature.

I am planning on starting with that feature next week, I am currently working on "Cancel Current Run"(its gonna be a huge hack since Angular or Karma don't support stopping current run without killing the hole freaking test server!!!!).

This feature will involve running angular and creating a debugging session

[2019-07-05 08:33] #35 closed

[2019-07-05 08:34] Raagh opened #37 "Support automated test creation system"
@Raagh Okay I found out the issue. We created internally a decorator system to create jasmine test using classes. For example:

[code]

will generate a suite with the name MyTestSuite and the someTest test

Looking at your code, I think you match the files content to find the test matching those files. Having a way to configure the regex to match these decorator for me would be wonderful.

_Origin

[2019-07-05 08:35] Raagh commented on #37
I understand the system, but I don't understand why tests are not being matched.

If you create the jasmine tests using those classes the "angular-karma_test-explorer/src/core/shared/path-finder.ts" should still found those jasmine tests that were created and use those. It will not map to the classes for sure but why is not mapping to those created jasmine tests? can you give me an example test cl

[2019-07-08 13:14] VeldMuijz opened #38 "Cannot load tests in non-cli project"
**Describe the bug**
When using it from non-cli project I cannot load the tests. The Test Explorer Logs show:
[code]
But no tests are shown.
The error regarding Tabpable.Plugin is irrelevant because running the test via a terminal works fine with this error.
I've seen https://github.com/Raagh/angular-karma_test-explorer/issues/27 and this is a similar situation for my project.

settings.json:

[2019-07-08 13:27] Raagh commented on #38
Hi Jeroen @VeldMuijz  thank you for submitting this bug, If you cannot upload a test project I will need some extra information from you.

First, you should not use Karma as "angularKarmaTestExplorer.projectType": "Karma", since you re not in a Karma project, you re using Angular so "angularKarmaTestExplorer.projectType": "Angular" is the correct configuration.

Second a few questions, you re open

[2019-07-08 14:51] VeldMuijz commented on #38
Yes, karma.conf.json is in the root.

`const puppeteer = require('puppeteer');
process.env.CHROME_BIN = puppeteer.executablePath();

module.exports = function(config) {
    config.set({
        client: {
            clearContext: false
        },
        basePath: './test/',
        frameworks: ['jasmine'],
        files: [
            { pattern: 'unit-tests.js' }
        ],
        exclude: [],

[2019-07-09 11:58] Raagh commented on #38
Great, thank you I will try that configuration locally to see what happens. The error marks that something is failing when starting karma as a child process.

could you provide me with 'unit-tests.js' that file you re using as preprocessor and give me the name and source of an example test you re running?

[2019-07-10 06:37] VeldMuijz commented on #38
webpack:
`var webpack = require('webpack');
var TsConfigPathsPlugin = require('awesome-typescript-loader').TsConfigPathsPlugin;

module.exports = {
    mode: 'development',
    devtool: 'inline-source-map',
    performance: {
        hints: false
    },
    resolve: {
        extensions: ['.ts', '.js'],
        plugins: [
            new TsConfigPathsPlugin({
                configFileName: 'tscon

[2019-07-10 06:41] Raagh commented on #38
Thank you very much.
No worries I wanna try to support as many scenarios as possible so I will try my best to reproduce it and fix it :).

Thanks for the feedback and of course for downloading my extension.

[2019-07-12 07:20] markusfalk opened #39 "Test Explorer parses tests endlessly"
**Describe the bug**
The Test Explorer does not recognize the project properly. The Test Explorer seems to endlessly parse for the project's tests.

**To Reproduce**
🤔

**Logs**
no logs :(

**Screenshots**
<img width="1280" alt="Bildschirmfoto 2019-07-12 um 08 54 29" src="https://user-images.githubusercontent.com/1352624/61109340-f6841380-a484-11e9-9b60-74dc908db2c1.png">

**Desktop (please comple

[2019-07-12 07:28] markusfalk commented on #39
* Tried to restart everything
* It is CLI default project
* all my other extensions installed: https://marketplace.visualstudio.com/items?itemName=MarkusFalk.angular-development-extension-pack

[2019-07-12 07:30] Raagh commented on #39
Hi @markusfalk  Markus, thank you downloading the extension and for reporting this. Could you upload a test project that reproduce the bug so I can fix it?

Could you check the Output channel "Test Explorer Logs" ? that's the one that contains the actual logs of the test explorer. Could you also check the VSCODE developer tools and let me know the errors?(Help -> Toggle developer tools). Do you ha

[2019-07-12 07:32] Raagh commented on #39
More questions:
Are you opening the root folder of the project(open folder) or a workspace?
Could you also provide me with a copy of your angular.json file?

[2019-07-12 07:44] markusfalk commented on #39
Hey @Raagh, thanks for the quick reply. Not sure how I can give you access to the private repo for reproduction. Here is some more info:

## Test Explorer Logs
<img width="1280" alt="Bildschirmfoto 2019-07-12 um 09 35 22" src="https://user-images.githubusercontent.com/1352624/61110957-b58dfe00-a488-11e9-9aad-64b9d59365ad.png">

### angular-errors.log

[code]

## Chrome Console
[code]

## angular.j

[2019-07-12 07:56] Raagh commented on #39
mmmm very strange, for some reason chrome browser or something else is closing socket connection between the karma server and the test explorer.
(Angular Reporter closed connection with event transport close)
(There is currently a bug in karma that does this but it should not happen continuously, only once in a while)

When that happens the default behavior is close karma and start everything all

[2019-07-12 08:02] Raagh commented on #39
wait, is this an ionic application?

[2019-07-12 08:07] Raagh commented on #39
I don't see anything strange in the angular.json really, apart from this proxy.conf.json, It should not affect cause its on the serve command but still, what do you have in there?

[2019-07-12 08:53] markusfalk commented on #39
* reproduction is in the works (need some time for that)
* it is an angular/pwa web project (not ionic)
* ng test works with 1 failing test

## karma.conf.js

[code]

I greatly appreciate the help. Thanks alot :)

[2019-07-12 09:02] markusfalk commented on #39
It does seem to work when I start ng test as well 🤔

Takes about 5 minutes to load but then shows something and runs them too.

<img width="1280" alt="Bildschirmfoto 2019-07-12 um 11 00 56" src="https://user-images.githubusercontent.com/1352624/61116283-6bab1500-a494-11e9-815a-4f1bbbc1b5e6.png">

<img width="1280" alt="Bildschirmfoto 2019-07-12 um 11 02 20" src="https://user-images.githubuserconte

[2019-07-12 09:10] Raagh commented on #39
No problem!, thank you for reporting and taking the time to help make this extension better. Please make sure that the test project still reproduces the problem before submitting it.

Its really a strange case cause basically I have the same angular.json and karma.conf.js, tried it on mac and windows just to be sure and it works fine. I am wondering if it could be a network configuration or someth

[2019-07-12 14:26] markusfalk commented on #39
I cannot reproduce the problem anymore. It take a long time for the tests to load but eventually they all show up now.

Thanks for your time 🤓

[2019-07-12 14:26] #39 closed

[2019-07-12 14:37] Raagh commented on #39
Well I have to say I am not sure how happy I am with that ahha.
I am glad that it works for you but I wonder why it didn't before. If you encounter something like this again please report it and I will do my best to take care of it

Still glad it works, hopefully you can enjoy it now :)

Just wondering, how long does it take from the test explorer? And how long does it take when you do Ng test?

[2019-07-12 14:45] markusfalk opened #40 "Change UI color to reflect test outcome"
I would like to propose the idea of recoloring the UI according to test outcome.

This could be especially handy once "Detect File Changes and reload tests automatically" is implemented which does not force me to open the Test Explorer. This way I could write tests first, then fix them until the color changes back to normal.

## One or more tests fail

The UI changes it's color to reflect the fail

[2019-07-14 06:53] markusfalk commented on #39
I understand completely. What took long was not the test execution but the parsing of available tests. But this too now has improved. Running Test Explorer and `ng test` together changed something to make it all work.

If it shows up again I will let you know.

[2019-07-16 07:11] Raagh commented on #40
Hey @markusfalk  sorry for the delay in my response. I am also working on my personal site so I have to balance time between both projects. This indeed seems like a good idea thank you for taking the time to think about it, I am gonna put it in the backlog for after I finish "Debug Tests" which is a key feature I am working on right now.

[2019-07-25 17:07] irustm commented on #36
Thank you for the cool extension!
I want to know the status of this issue ;)

[2019-07-25 17:24] Raagh commented on #36
@irustm you can follow the progress on this branch.

https://github.com/Raagh/angular-karma_test-explorer/tree/feature/debug-tests?files=1

Yesterday I managed to actually run a test with a debug session and it stopped on a breakpoint.  There still things to be done but I am doing some good progress :)

[2019-07-29 18:50] Raagh commented on #36
Just merged Debugging tests into master. Also fixed a bug were codelenses and gutter decorations did not appear on the test line when you open it.

Please submit any bug you find on debugging tests. Just one caveat, I could not find a way to stop debugging session from vscode without having to kill the entire karma instance(since execution session is actually happening in the browser and karma doe

[2019-07-29 18:50] #36 closed

[2019-07-29 21:31] Raagh commented on #36
I cheered too soon :(. Already found some issues on very big suitrs were breakpoints seem to be moving based on the codelenses. Pretty weird behavior u.u.  Please report anything you find. I will be trying a few things in the following days

[2019-07-31 19:05] DmitryEfimenko opened #41 "watch files and run relevant tests"
**Is your feature request related to a problem? Please describe.**
The current default experience with the test runner opened in the browser is that it will re-run tests when a file gets changed - either the test file or the implementation file.
This behavior does not seem to be replicated with this awesome extension (no irony - the extension is brilliant!).
Instead I have to manually click on the

[2019-07-31 19:54] Raagh commented on #41
Hi @DmitryEfimenko first of all thank you for downloading the extension and taking the time to submit a feature request. You re awesome!.

Second yes indeed that feature is missing, its related to my next 2 planned features.

1. Detect file changes(workspace, new test definitions) and reload tests automatically.
2. Lets you choose test suites or individual tests in the explorer that should be run

[2019-08-01 12:18] Tucaen commented on #30
Is there any update on this?

It's an awesome extension I would love to use, but we have two angular-applications and multiple libs in the same workspace.

So my current behavior is that the test (~1800) load forever (cancelled after 10 minutes) with a 100% CPU usage or I get the "ERR Cannot read property 'map' of undefined" error, when setting the path to one of the angular projects, since the an

[2019-08-01 12:41] Raagh commented on #30
Hi first of all thank you for downloading the extension. I will need some extra information to know if indeed your scenarios is currently not supported or if it's just a configuration issue.

1. Are you using workspaces? or just opening a root folder(open folder) that contains multiple folders(with different projects inside of each)?
2. You mentioned you have an angular.json in the root path, that

[2019-08-01 15:14] jonstelly opened #42 "Tests never show up in Test Explorer, stuck at spinning 'reloading tests'"
**Describe the bug**
Test Explorer never shows the list of tests.  The Test Explorer toolbar shows the spinner spinning with 'reloading tests' status.

**To Reproduce**
This happens on my real project: Angular 8 (upgraded from 7), CLI based, angular app and single component library project using ng-packagr) but it also happens on a brand new project generated with angular cli (8.2).

This is on Ub

[2019-08-01 15:44] jonstelly commented on #42
I noticed this code in the extension:

[code]

If I try change my karma.conf.js from 'Chromium' to 'ChromeHeadless' then `ng test` gives the error saying it can't find chrome.  If I set it to ChromiumHeadless instead then `ng test` succeeds.  Or if I set CHROME_BIN to point to chromium, `ng test` also succeeds.

So I cloned this repository and edited the code to use ChromiumHeadless, or to launch

[2019-08-01 15:58] Raagh commented on #42
Hi Jon, first of all thank you for downloading the extension and reporting this bug.

To be honest I have not tested this on linux or using chromium. And indeed the code expects that you re using Chrome and you have Chrome installed instead of Chromium.
But still if you are debugging the code from the cloned repository and you changed the value to ChromiumHeadless that should be enough to make it

[2019-08-01 18:26] Raagh commented on #42
I tried chromium on my mac and indeed everything works okey(after changing the code to use ChromiumHeadless of course). what happens if you install chrome?

the most strange thing is this.
`
const isKarmaBeingClosedByChrome = event === ErrorCodes.TransportClose && !this.karmaBeingReloaded;
const isKarmaBeingClosedOnReloadingByTestExplorer = event === ErrorCodes.ForcedClose && this.karmaBeingReload

[2019-08-01 19:34] gshock commented on #42
hi, i am also trying to use this extension (it sounds great!) but my Test tab is also stuck spinning reloading tests.

Is there any thing that I can send you to troubleshoot it? Thanks!

[2019-08-01 19:47] Raagh commented on #42
Hey @gshock Gerardo, yes for sure. If you are available now join here https://gitter.im/Angular-Karma-Test-Explorer/Bugs and we can workout this problem together now. Every scenario is different do to different setups so its better to create a separate bug for it and follow all the questions that the bug report has.

[2019-08-02 01:32] jonstelly commented on #42
My case seems to have been caused by node being installed via a snap.  I'll admit I haven't 100% validated that, since when I uninstalled node via snap I was using node 12.7.0 but I installed node 10.16.0 through the normal install scripts.  So it's possible it was the node version as the problem but I'm pretty confident that it was snap... I've had a host of other problems related to snap and san

[2019-08-02 03:29] #42 closed

[2019-08-02 06:04] Raagh commented on #42
Hey Jon, very happy you solve it. I am gonna take note of that for the next guy that encounters a problem on Ubuntu.

Also now I have the virtual machine to try out myself so thank you very much for that. It's nice to read this when I wake up, I went to bed yesterday thinking about this bug ahaha.

Again, very happy for you and thank you for the support.

[2019-08-02 06:05] Raagh commented on #42
@gshock please create a bug with your specific scenario and we can solve it there.

[2019-08-02 16:29] gshock commented on #42
Hi @Raagh, i came in this morning and the tests loaded. i didn't need to update the extension. i have rebooted since yesterday (maybe that helped). this looks great. thank you

[2019-08-02 17:35] mahidaturgana opened #43 "Indefinite 'Reloading Tests'"
**Describe the bug**
Same situations as #42 - Test Explorer just in a state of perpetual 'reloading tests'

**To Reproduce**
Open project, open Test Explorer

**Logs**
[2019-08-02 09:47:21.630] [renderer1] [error] listen EACCES 0.0.0.0:8888: Error: listen EACCES 0.0.0.0:8888
    at Server.setupListenHandle [as _listen2] (net.js:1269:19)
    at listenInCluster (net.js:1334:12)
    at Server.listen

[2019-08-02 18:27] Raagh commented on #43
Hi @mahidaturgana thank you very much for downloading my extension and taking the time to submit a bug. Are you online now ? we can fix the problem together by having a chat [here](https://gitter.im/Angular-Karma-Test-Explorer/Bugs).

You problem seems to be permissions. As you can see in the error message its not only my extension but also "Angular Console extension" trying to listen to a port an

[2019-08-02 18:30] Raagh commented on #42
@gshock no hay porque Gerardo, me alegro que te funcione. Saludos

[2019-08-02 20:51] mahidaturgana commented on #43
I noticed the issue with the port in use, I just happened to have a local dev environment using 9999. After that though, ran into the situation of the karma.conf file not being recognized, relocated that to the root folder where it looks like AngularReporter is polling from.

After that, things started working.  What I did notice was this is not exactly friendly with multiple instances of VSCode r

[2019-08-02 21:01] Raagh commented on #43
Hi, good to know that everything is working now. Yes, you re right I will make sure to add an extra explanation on the next release.
You don't need to move the karma.conf.js, in the [documentation](https://github.com/Raagh/angular-karma_test-explorer/blob/master/DOCUMENTATION.md) there is an explanation of the configuration needed if you re opening a root folder(and the angular app is inside anoth

[2019-08-02 21:01] #43 closed

[2019-08-03 03:46] gshock commented on #42
Es una buena herramienta cual prevéo que me ayudará a mejores tests y mejor code 👍
Buena suerte!

[2019-08-04 20:15] el-peregrino opened #44 "No Tests Found & Error on Refresh"
First of all, I love this extension. Unfortunately, I cannot make it running on a larger project.

**Describe the bug**
I open my solution and everything starts loading. The project contains over 2000 tests. I can execute them with ng test. Here is what I see in the log:
[12:35:15 PM] INFO: Starting Angular test enviroment for project: clinician-app
[12:35:16 PM] INFO: Listening to AngularReporter

[2019-08-05 06:26] Tucaen commented on #30
1. We're just opening a root folder (just learned that's not meant by workspace). We have no .code-workspace file

2. Yes

3. Correct

4. With the (in my opinion) correct settings none. It's just running forever.

5.
root-folder
|-angular.json
|-karma.conf.js
|-apps
|-|-application-1
|-|-application-2
|-libs

Regarding your answer I think my assumption there is a problem about the multi-workspace

[2019-08-05 06:54] Raagh commented on #44
Hi @el-peregrino thank you for submitting this bug. This is very strange, for whatever reason the test explorer is not finding any tests. One question, could it be that you don't have tests inside a suite?

no "describe" just all separate "it"?
could you upload a test project for me? It doesn't have to be everything, just a copy of your project with the app component all the configuration and the

[2019-08-05 07:03] Raagh commented on #30
Hi @Tucaen thank you for answering. Indeed is very possible that the node parameter is causing the issue, as you said I am just running ng test(or npx ng test if the angular cli is not installed globally) with some extra parameters I need to make the test explorer work.

could you upload a test project for me? I would really need a project this big to try it out. Currently my biggest test project

[2019-08-05 07:24] el-peregrino commented on #44
Hi, thanks a lot for the quick answer. There are many suites (describe), however, there can be standalone tests (it) somewhere.
Extracting the code will take me some time.

[2019-08-05 07:32] Raagh commented on #44
Okey, in the meantime I will do some tests to try to replicate whats going on. If you re feeling like a debugger today you might wanna help me out by cloning the repo, starting the project in debug mode and put a breakpoint in [here](https://github.com/Raagh/angular-karma_test-explorer/blob/3d9f8812b256f284c6a3b5b1ac15a9e927929fe0/src/core/angular-karma-test-explorer.ts#L31), it would be awesome t

[2019-08-05 07:43] Tucaen commented on #30
Sorry, I can't upload the project I am working on, since it's not owned by me. But I get, that it's very hard for you to reproduce the behavior.

Will do when I get the time, but I can't tell, when this will be :(

This is what I see, when opening the project-folder:
![image](https://user-images.githubusercontent.com/12460448/62447195-1ac1d000-b765-11e9-9b86-bbfb7956d5be.png)

The error "ERR liste

[2019-08-05 07:49] Raagh commented on #30
Thanks I will wait for that bug and continue there.
but you might wanna try changing the port? use the configuration property defaultSocketConnectionPort.

why did you disable debug mode? nothing is gonna be logged if debug mode is disabled, you only see that error because is throw by node itself.

[2019-08-05 07:56] Tucaen opened #45 "Memory problem in big projects"
**Describe the bug**
The test-explorer never finishes loading (spinning refresh button; not showing any tests).
After a long time (~15 minutes in my case) you get this error message:
![image](https://user-images.githubusercontent.com/12460448/62447631-1813aa80-b766-11e9-9ada-5df8add02ef6.png)

To run our test regularly we had to modify the `ng test` with a custom script in the package.json:
[code]

[2019-08-05 07:58] Tucaen commented on #30
Did an other run with port 9997, but get the same error. But it feels like it's a follow up error, because of the missing memory.

Good point! Experimented a bit with the configuration and missed to enable this again 😇

Here is the new bug: https://github.com/Raagh/angular-karma_test-explorer/issues/45

[2019-08-05 08:02] Raagh commented on #45
@Tucaen Awesome man! that is a really helpful bug report. Thank you very much. I will do some investigation about it and see what I can find. I will report here when I get some new information. Hopefully I can replicate this, also I will check if there is a chance for me to allow people include some extra commands to the ng test for special cases like this one :)

[2019-08-05 16:19] el-peregrino commented on #44
Hi, I tried to debug the extension, but got the following error:
Activating extension 'raagh.angular-karma-test-explorer' failed: Cannot find module 'c:\Angular\angular-karma_test-explorer-master\out\main.js'.
There is no out folder and I don't know what should be placed in the main.ts file. I need some assistance to start it as component development is completely new to me.

[2019-08-05 16:22] Raagh commented on #44
Hi sorry it's my fault for not being more specific.

Could you follow this and let me know if you still can't debug it? I will create a chat later so we can discuss problems there if needed :)

https://github.com/Raagh/angular-karma_test-explorer/blob/master/.github/CONTRIBUTING.md

[2019-08-05 16:55] el-peregrino commented on #44
Thanks. It looks like I cannot pass the test server start
line 27: await this.testServer.start(config);
The extension outputs this to the log:
[6:43:12 PM] INFO: Listening to AngularReporter events on port 9999
It took over 5 minutes to get to the next statement, Could the start timeout?
It continues to load tests, takes lot of time, minutes (the solution is quite big).
Hmmm, I got an unexpected r

[2019-08-05 17:01] el-peregrino commented on #44
I tried to run one of the tests. It failed saying skipped, run compeleted with status error

[2019-08-05 17:06] el-peregrino commented on #44
The debug console:
[7:01:44 PM] ERROR: error from ng child process: Error: spawn ng ENOENT
[7:01:44 PM] INFO: Angular exited succesfully
[7:01:44 PM] INFO: AngularReporter closed connection with event: transport close
[7:01:44 PM] INFO: Run completed with status: Error
[7:01:54 PM] INFO: Running [ suite: StringConverter.ToDate(value), test: Unassigned value should return null. ]
There is no server

[2019-08-05 17:18] Raagh commented on #44
Hey, could you join here so we can have a chat? that way I can understand whats going on https://gitter.im/Angular-Karma-Test-Explorer/Bugs

[2019-08-05 18:38] LeandroDoldan commented on #44
I am having the same problem! I started using the extension a few hours ago with no problem and suddenly stopped finding the tests. Nothing changed in the meantime.

[2019-08-05 18:44] Raagh commented on #44
Hey @LeandroDoldan if you want to join the chat I can help you with it too. I am currently trying to fix @el-peregrino  problem

[2019-08-05 18:51] LeandroDoldan commented on #44
Oh sure, thank you! Downgrading the version didn't work

[2019-08-05 18:54] LeandroDoldan commented on #44
I think I found a solution. I realized there was a type error in a test. Once I solved it, all the tests appeared again in the extension.

[2019-08-05 18:55] Raagh commented on #44
@LeandroDoldan happy for you, please make sure to upgrade back again to latest version. I will check if there is something I can do to show when there is compiling error in the tests.

[2019-08-05 20:57] Raagh commented on #44
Its an error related to the environment, we tried on a different computer with the same project and it worked fine. We re checking what could be causing it.

[2019-08-06 14:23] LeandroDoldan commented on #44
In my case, I am working in a monorepo. Test are not found again.
[code]

Extension settings:
[code]

[2019-08-06 14:34] Raagh commented on #44
@LeandroDoldan your configuration seem to be a little of, did you change something before yesterday that it was working? did you check there is no compiling issue in your tests like it was happening previously?

if your app is in app/frontend then your karmaConfFilePath should be setup from the projectRootPath. then it would be:

 "angularKarmaTestExplorer.projectRootPath": "app/frontend",
  "angu

[2019-08-07 20:27] Raagh commented on #44
@LeandroDoldan  estoy ahora conectado por 40 minutos mas, si tenes tiempo entra a gitter que te doy una mano. Muchas gracias por bajar la extension y tomarte el tiempo de reportar un bug!. Saludos

[2019-08-07 21:11] IceBreakerG opened #46 "Angular 8.2.0 Library Project Not Refreshing or Running Correctly"
**Describe the bug**
When opening an Angular library project application (an Angular app that has a library project in it), and selecting the library project from the list, the tests take a very long time to show up, and if they change, they don't always update when refreshing.  Code lens for the tests is not showing up either.

**To Reproduce**
VS Code 1.36.1
Angular 8.2.0

Create a new Angular 8

[2019-08-07 21:33] Raagh commented on #46
Hi @IceBreakerG thank you for submitting the bug. I will try to reproduce it locally and do my best to solve it. Just to clarify, those logs you posted. So you opened the test explorer, app-angular-authentication started loading, you quickly changed the project to authentication, it didn't found any tests and then you switch back to app-angular-authentication everything in around 1 minute?. Could

[2019-08-07 21:38] IceBreakerG commented on #46
Yes, after opening the folder in VS Code, I wait for the initialization to happen, and then switch to Test Explorer and change the project to authentication, and this is probably in less than a minute.  The library project is just about finished, so I was making sure I had tests to cover the main functionality of the service.

As far as how long it takes to run the tests, it only takes a few secon

[2019-08-07 21:49] Raagh commented on #46
Okey good to know, I am creating the library now to see what happens.

About the tests, yes you cant have 2 tests with the same description. they will appear as faulty in the test explorer and probably they will not get codelenses.

About the time that it takes, they key thing you said is when everything initialize. What you got to understand is that everytime you change projects everything needs

[2019-08-08 12:51] IceBreakerG commented on #46
I don't seem to be getting codelens for any of the tests in this particular project, even after fixing the test description, closing out VS Code, and re-opening it.

I didn't know that.  I have another application that has over 900 tests, and it seems to work well with that.  It's just this library project application that doesn't want to play nice.  I've also noticed, that when I run `npm run tes

[2019-08-08 13:05] Raagh commented on #46
Hey Eric, so yesterday I found out why codelenses are not appearing in the library. A stupid hardcoded mistake on my part, I am looking for filepaths on src/app but the library will be on src/lib so that wont work... I will make sure to fix it for next release. Still that doesn't explain why you don't see codelenses on the regular project.

Your npm run test command is not the cause, although you

[2019-08-08 13:34] IceBreakerG commented on #46
I just did a reboot on my dev machine (also had to install some Windows updates), and after logging back in, when I open up VS Code, after all of my extensions initialize, when I click on the Test Explorer icon, codelens is displaying on the main application spec files, and the tests for the main application are displaying in the list.  When I switch to the library project, I get the following:

[

[2019-08-10 06:12] adnanebrahimi opened #47 "Test is not loaded in VScode Version 1.37.0"
The Test Explorer could not load Angular tests

1) Install the latest version of VSCode: 1.37.0
2) Open Angular project and wait for tests to show up in Test Explorer.

**System:**
Version: 1.37.0 (user setup)
Commit: 036a6b1d3ac84e5ca96a17a44e63a87971f8fcc8
Date: 2019-08-08T02:33:50.993Z
Electron: 4.2.7
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.18362

[2019-08-10 07:29] Raagh commented on #47
Hi, thank you for downloading the extension. Unfortunately electron is not really supported. I mean it could work or it could not, I have no idea how an electron project looks like and this has never been tested in electron.

If you need me to help you with this you will have to provide for me a test project that reproduces the issue as mentioned in the bug report template.

The test explorer seem

[2019-08-10 07:42] adnanebrahimi commented on #47
Just for clarification, the VSCode made by electron, not my project. my project is based on Angular.

[2019-08-10 07:43] Raagh commented on #44
@el-peregrino any news on this? did you managed to solve it on that specific environment?

[2019-08-10 07:57] Raagh commented on #47
ah okey completely misunderstood the situation. Okey lets see then there is no reason why it should not work. Do you wanna join https://gitter.im/Angular-Karma-Test-Explorer/Bugs ?
I am currently online and its gonna be a lot easier to solve the issue there. I will post the findings here afterwards

[2019-08-10 08:45] adnanebrahimi commented on #47
Ok, I will join. thanks!

[2019-08-11 08:08] Raagh commented on #47
Since it seems we cannot match a time were we re both online at the same time I am gonna post everything here.

Is it Angular CLI project or Angular project? if Angular CLI do you have the AngularCLI installed globally?
Are you opening the folder where this project is located or are you opening one folder above it( let's say if you have a root folder with the api and the app)
What do you mean by t

[2019-08-11 08:21] adnanebrahimi commented on #47
Is it Angular CLI project or Angular project? **It's Angular CLI Project**

if Angular CLI do you have the AngularCLI installed globally? **Yes.**

Are you opening the folder where this project is located or are you opening one folder above it( let's say if you have a root folder with the API and the app)?  **I opened the folder where this project is located**

What do you mean by this Version: 1.

[2019-08-11 08:24] Raagh commented on #47
okey since you re here now let's go to the chat, cause really your case is the most common scenario, the one I use everyday at work. I can't see why its not working

[2019-08-12 13:56] #44 closed

[2019-08-12 20:56] Raagh commented on #46
New version supports discovering tests from libraries. Also fixed some problems with the codelenses and cleanup the logging because it was generating confusion with what is an error and what is normal karma behavior.

[2019-08-12 20:59] Raagh commented on #41
Autorun feature is live with the latest release. If you right click on a test or suite in the test explorer you will see the option to enable autorun for that test or suite, when the file changes they will be run again :). You have the same option for the entire test environment on the top right corner.

I hope everything works out for you. If not please report a bug following the appropriate bug

[2019-08-12 20:59] #41 closed

[2019-08-13 12:44] arthurspa commented on #47
I have the same problem.

Running VS Code 1.37.0. The tests won't list. In the "Test Explorer logs" I've got:
[code]

For me, the answers are:

Is it Angular CLI project or Angular project?
**It's Angular CLI Project**

If Angular CLI do you have the AngularCLI installed globally?
**Globally and locally**.
**Locally - Angular CLI: 6.1.4
Global - Angular CLI: 6.0.8**

Are you opening the folder whe

[2019-08-13 12:49] Raagh commented on #47
Hi @arthurspa sorry that its not working from you. could you provide me with a test project were I can reproduce this bug? unfortunately I could not reproduce it neither on windows or mac, so it's very hard for me to fix something that I don't have.

The configuration seems to be correct cause the test explorer is picking the name of the project correctly. My supposition is that for some reason th

[2019-08-13 15:11] IceBreakerG commented on #46
I got the new version, and Codelens is showing up in the library tests now. Switching between projects did not load the tests for the main app until I build the library package though.  Looks like the other issues I had are good now.  Thanks!

[2019-08-13 15:15] Raagh commented on #46
Hi @IceBreakerG I am happy that is working for you. Can you explain to me what you mean? if you do 'ng test' you don't have to build the library first?.

[2019-08-13 15:20] IceBreakerG commented on #46
There was an import error in the main app's spec file.  My project is structured like this:

- projects
    - authentication
        - src/lib/AuthenticationModule
- src
    - app
        - Components and AppModule
        - In spec, `import { AuthenticationModule } from 'authentication'
            - This was giving an error until I built the package separately, as it didn't know where `authentic

[2019-08-13 15:26] Raagh commented on #46
I see so no error there. If is not building of course it's not gonna work. Happy that in the end everything is working. Thank you for taking your time to follow on this problem, if you encounter something else don't doubt to let me know.

Have a nice day

[2019-08-13 15:26] #46 closed

[2019-08-13 15:27] IceBreakerG commented on #46
No problem, thanks for getting it fixed so quickly!

[2019-08-14 16:33] mahidaturgana opened #48 "Test Explorer Logs - Minimal Output"
Using the latest version (v1.2.0) I was confused why I was no longer getting any output aside from **Success** or **Failure** from the Test Explorer Logs.  I thought it may have been something to do with my karma.conf logging level, but after trying debug and info without any changes, I decided to try an older version.

I manually downgraded to v1.1.0, which generates an output including error(s)

[2019-08-14 22:42] Raagh commented on #48
This is not a bug. In version 1.2.0 isDebugEnabled was set to false as default because a lot of users were not understanding the error messages from karma(which are not really errors to the tests explorer, just extra info from karma) and reporting bugs on them.

If you want to have that information back please upgrade to 1.2.0 and set the property to true in the configuration.

Why do you need thi

[2019-08-14 22:42] #48 closed

[2019-08-14 22:50] mahidaturgana commented on #48
Wasn't aware it was changed to a configurable option.

Was just a change I wasn't prepared for as I didn't see anything in your [releases](https://github.com/Raagh/angular-karma_test-explorer/releases) as to what may have changed!

Thanks for the quick response @Raagh.

[2019-08-14 22:57] Raagh commented on #48
No problem. I generally don't update the releases page on GitHub. I need to setup an automated task for it definitely.

If you need info on the configuration please refer to the official documentation. In the readme there is a link to everything you might need.

The information regarding the changes of each version are in the changelog file.

[2019-08-16 06:31] arthurspa commented on #47
Hi @Raagh, now it's working. Maybe after I rebooted the PC. I remember that I had restarted VS Code many times to check if the extension would recognise my tests and it didn't.
However not the problem doesn't reproduce anymore and I have the same config as in my previous comment. The only difference is that I turned off and on the PC.

Thanks for the extension and your time, anyway.

[2019-08-16 06:39] Raagh commented on #47
Hey @arthurspa that is good to know though very strange. If it happens again please let me know and provide me with a test project and I will make sure to reproduce it and fix it.

[2019-08-16 15:53] dylansteen commented on #45
I'm experiencing a similar, but not quite the same issue. Our project is very large and sometimes experiences a memory issue.

![image](https://user-images.githubusercontent.com/50588786/63180269-e7602a80-c01b-11e9-8ef4-0121e8b3f32b.png)

I see that the Angular team is trying to work on these issues, see here:

https://github.com/angular/angular-cli/issues/13734#issuecomment-521743839

I would rea

[2019-08-16 15:59] Raagh commented on #45
Hi @dylansteen thank you for reporting this, indeed I am working on a fix just as you mentioned, giving the user the possibility to add parameters to the call. I will let you know here when this fix is done.

[2019-08-18 13:08] gitsharad opened #49 "nested test cases not working not visib"
**issue i faced that nested test cases not showed properly.**

   describe('orderNumber and lineNumber validation Sync', () => {
        beforeEach(() => {
        });
        describe('when combination exists', () => {
          beforeEach(() => {

          });
          it('should have invalid states', () => {

          });
        });
        describe('when combination does not exist', () =>

[2019-08-18 14:47] Raagh commented on #49
Hi @gitsharad thank you very much for reporting this bug. Do you mind providing me with a test project that reproduce this issue? I tried locally with the project I use every day at work and it works fine. Also a new Angular CLI project is working fine. Please se the picture attached. You will see that there is a describe inside another describe and a test inside that inner describe.

Also you wil

[2019-08-21 06:44] arthurspa commented on #47
@Raagh , sure. Thanks!

[2019-08-21 06:46] #47 closed

[2019-08-23 08:29] Raagh commented on #49
Hi @gitsharad do you have any news on this bug?

[2019-08-24 16:29] Raagh commented on #45
since 1.2.1 there is two new properties,  angularProcessCommand which is a string and you guys should use node --max_old_space_size=4000 ./node_modules/@angular/cli/bin/ng test.

and angularProcessArguments which is an array of strings and you guys can use
--source-map=true,  --code-coverage=true

be aware that I am not checking every single possibility you could setup in this fields. if you don't

[2019-08-24 16:29] #45 closed

[2019-08-28 09:07] Raagh commented on #49
closing this issue due to lack in response. If you are still having this problem, please let me know

[2019-08-28 09:07] #49 closed

[2019-08-28 20:33] jaksmid commented on #38
Hello, I have the same error. Managed to compile minimal project with the problem.
[NoTestsFound.zip](https://github.com/Raagh/angular-karma_test-explorer/files/3552760/NoTestsFound.zip)

The single test is testing `angular` component using `karma` and `mocha`.

After installing with `npm`, command `npm run test` should show one test successful.
Angular karma runner output shows me
[code]
regardle

[2019-08-28 20:43] Raagh commented on #38
Hi @jaksmid thank you for taking the time to upload a test project, this currently doesn't support mocha(never tried it myself), only karma-jasmine, but your project it's gonna be awesome for me to reproduce it and bring support to mocha. Thank you very much. I will inform here as I make progress on this.

Once I get home and try it I will report here if indeed it happens or not.

[2019-08-29 07:34] jaksmid commented on #38
Thanks @Raagh , let me know if I can help with anything!

[2019-08-29 12:29] Nvveen opened #50 "Viewing the tested components"
Currently in an AngularCLI generated project, running the test opens the Karma runner in an isolated browser context and runs the test, with each test showing the component alongside the tests. Is there a way to run the tests using this plugin and viewing these components in a browser window too? I can go to localhost:9876 with the normal configuration and it opens the runner, but there is no list

[2019-08-29 12:38] Raagh commented on #50
Hi @Nvveen let's see if I understand the question.

When you run the tests by using 'ng test' a chrome window is opened and you see the UI chaging while your tests run?
If that's the case that is done by using a Karma Reporter, this plugin will run all the karma reporters you have, this means that if you use the plugin with that reporter in your karma.conf.js file, when you run the tests and open

[2019-08-29 13:04] Nvveen commented on #50
Hi @Raagh,

Thanks for the amazingly fast response. To simplify the configuration, I tested with a newly generated Angular project with AngularCLI. Running `npm test` opens the runner in a Chrome instance, with the newly created main component as a result of running the unittest. Running the same test in the test explorer completes the test as expected, but going to `http://localhost:9876` (same a

[2019-08-29 13:11] Raagh commented on #50
There is no way currently to run the tests from the plugin and see the results in the browser as they re completely separate instances, the plugin uses a ChromeHeadless and when you go the url is just a Chrome instance.

Can I ask you why re you doing this?
The whole idea of the plugin is to avoid using chrome, you see the tests in the test explorer, run them individually from the test explorer(by

[2019-08-29 13:45] Nvveen commented on #50
Well, it's not necessary, of course, but it's a way to visually see the component while each test is being run to iterate development of the component. Another option is to run the development server and open that in a browser window, but my thought was that it's better to see how each component looks in isolation, i.e. in every instance of a unit test. My test-workflow is that I run the Karma-dri

[2019-08-29 13:52] Raagh commented on #50
It should not be that hard I guess, I will need to read the browsers from the karma.conf.js of the user instead of just using ChromeHeadless and see it happens, to be honest I haven't tried that myself. I am gonna give a try and see what happens.

I will let you know when I have a test build for you so you can tell if that suits your needs. If you want to keep track of this feature could you creat

[2019-08-29 13:59] Nvveen commented on #50
That sounds awesome. I will create the feature request.

Again, thanks for the fast responses.

[2019-08-29 14:04] Nvveen opened #51 "Allow custom karma.config.js configurations."
Currently, the tests are run with a hardcoded command to open a headless browser. It would be a nice feature to have to extend current configurations with user defined configurations to allow other ways of opening the test runner next to running the test inside Virtual Studio Code. One use-case is to use the plugin to select individual tests to run, but have a custom configuration that opens Chrom

[2019-08-29 14:05] Raagh commented on #50
No worries, thank you for taking the time to suggest this!. I have too say that the best features I have built on this came from users like you. So thank you

[2019-08-29 14:05] #50 closed

[2019-09-05 09:47] alpcemkizilkaya opened #53 "Didn't find any tests for at least 30 minutes"
Stuck at reloading tests and dont find any tests

**Logs**
[12:36:41 PM] INFO: Starting Angular test enviroment for project: scc
[12:36:41 PM] INFO: Listening to AngularReporter events on port 9999

**Desktop (please complete the following information):**
- OS: Ubuntu
- Angular Version 8.3.1
- Node versionv 10.16.2
-  karma.conf.js at root
![Screenshot from 2019-09-05 12-42-39](https://user-images

[2019-09-07 11:24] sudo-kaizen commented on #44
I am having this same problem too. Extension reports 'No tests found' but I have tests and they are arranged correctly

[2019-09-10 17:55] mrnaia opened #54 "Refresh tests placement of a file when saving it"
Hi here, I find your package really helpful !
But when working with it, I find something could be improved.

#### **The problem**
Usually using auto-run on one file. I modify this file, change things, add new tests.
I have a problem each time I add or remove a line. Where each test begin and end doesn't match the file anymore.
There is already a refresh in your package (I believe it refresh all pl

[2019-09-10 18:23] mrnaia commented on #54
After searching a little bit, I think it could not be a problem of your package, but a problem of **vscode-test-explorer** package you're dependant on.

[2019-09-16 09:18] bam opened #56 "Is Angular required to use?"
Hello!
I still can't understand could this extension be used with project which doesn't use Angular?
I have a React project with tests written with Jasmine and run with Karma.
I've set project type to 'Karma', but explorer couldn't be able to find any of the tests. It just rotates 'reload icon' and nothing happens...
Once vscode showed me a notification that it can't find angular related files...

[2019-09-16 10:19] AlexTemina-Sopra opened #57 "Error on loading, node version."
**Describe the bug**
When the extension tries to load, it throws an error saying that Node 8.10.0 is not compatible, while I'm using v10.16.0

**To Reproduce**
Just install the extension having 10.16.0 as Node version. Click on the tests tab with debug mode activated and you will see the error.

**Logs**
[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Deskto

[2019-09-26 23:58] slagbat opened #58 "Unable to debug typescript angularjs tests"
**Describe the bug**
Because I'm testing angularjs (i.e 1.x) I'm running in 'Karma' mode and all of my tests are found and run without any issues. However, I'm running in TypeScript using the karma typescript pre-processor etc and none of my break points are being hit (they remain as an empty circle and don't go red).

**To Reproduce**
Here is a copy of my karma.conf.js file:

[code]

**Logs**
The

[2019-09-27 15:59] wSedlacek commented on #29
I am on macOS right now and when Headless Chrome is open a new instance of Chrome cannot be opened from the Dock or Spotlight. It seems to leave Headless Chrome open in the background after first run and there doesn't seem to be disable leaving Headless Chrome after the test have complete.

[2019-09-29 08:28] Raagh commented on #58
Hi @slagbat I am sorry but Angular.Js is not supported, if you can upload a test project for me I will make the best to replicate it but unfortunately I do not use Angular.js anymore to make a proper representation myself. I am merging right now a fix from a user related to the source maps in the debugger so please make sure to try the new version to check if that solves the issue.

[2019-09-29 08:36] Raagh commented on #53
Hi @alpcemkizilkaya  sorry for the delay, I was on holidays so I didn't have my laptop with me.

Could you check if this issue is related to yours? https://github.com/Raagh/angular-karma_test-explorer/issues/42

we have encountered previous problems when working with linux

[2019-09-29 08:39] Raagh commented on #54
Hi @mrnaia  sorry for the delay, I was on holidays so I didn't have my laptop with me.

Thanks for downloading the extension! it means a lot to me. And yes I encountered similar issues with the placement of the files. I am currently working on improving(also working the the creator of the UI) this but It will take time.  I will make sure to give you some more information here when I have it.

[2019-09-29 08:59] Raagh commented on #56
Hi @bam first of all thank you for downloading the extension. Sorry for the delay in my response but I was on holidays. Indeed this extension does not require Angular to run. As long as the tests are karma and karma-jasmine and it should work fine but to be honest I have only tried it with Angular projects(they run in typescript).
AngularCLI projects uses karma in the background and Non CLI projec

[2019-09-29 09:12] Raagh commented on #57
Hi @AlexTemina-Sopra thank you for taking the time to report this. Sorry for the delay in my response but I was on holidays and also for whatever reason I am not receiving github notifications on my email.

I the next few days I will try to reproduce it and come up with a solution. I will let you know if I need some extra information.

Again thank you

[2019-09-29 09:13] #56 closed

[2019-09-29 09:40] Raagh commented on #29
@wSedlacek Hi ,thank you for your answer. HeadlessChrome is open on purpose, it's the way karma tests are run, without leaving that open you would have to do 'ng test' every single time you want to run a test which is incredibly costly as 'ng build' needs to be executed first. I am gonna try doing that process to see what happens, that instance of headless chrome should not interfiere with anythin

[2019-09-29 22:46] slagbat commented on #58
I'll see if I can upload something later for you. I've got the tests running and displaying in the test explorer it's just the debugging part and if I can't get that to work then it's not the end of the world as the plan is to migrate to Angular in the near future.

[2019-09-30 14:50] wSedlacek commented on #29
I managed to jerry rig it to work. I had to create a second copy of the chrome app then hide the default location. This managed to get it so I can open from spotlight and the dock as expected, however links still try to open up in the headless version if I start that before my personal chrome is open. Maybe this could use chromium instead of chrome or something that way it doesn't interfere with h

[2019-09-30 17:11] alpcemkizilkaya commented on #53
Hi @Raagh ,
I dont think its related because i didnt install node via snap.

[2019-10-01 13:43] Raagh commented on #58
Great thank you very much I will make sure to take a look at it once you upload it. did the new version solved the debugging issue for you?

[2019-10-01 13:45] Raagh commented on #29
Hey @wSedlacek I will try your local setup first and figure out whats going on, also check if everything works okey with ChromiumHeadless and report back when I have an answer :) thank you for taking your time with this issue

[2019-10-01 13:48] Raagh commented on #53
Okey no problem just wanted to check. Could you please upload a test project for me that reproduces the issue? I am trying with the environment details you provide on a fresh install of ubuntu and everything seems to work fine.

[2019-10-01 15:31] wSedlacek commented on #29
Sweet! Keep me posted.

[2019-10-03 07:52] slagbat commented on #58
Unfortunately it didn't solve the debugging issue. I was going to upload the project but then found that on my laptop it wasn't showing the tests but on my desktop it does so I want to get to the bottom of that first. It must be a config thing (maybe not having ts-node on my laptop or something like that).

[2019-10-10 10:39] kirill-chilingarashvili commented on #3
"Start the application as it is defined in the README"
How to start the app? There is nothing in README about how to properly setup tests.
Documentation says restart VS Code and run play in test explorer

I cannot make any tests appear

[2019-10-10 10:59] Raagh commented on #3
Hey,  thank you for commenting. Could you create a bug using the bug template and completing all the appropriate information? Since this bug has nothing to do with your case.

After you created the bug report I can help you there to make test appear from you. Is probably a configuration issue 😀

[2019-10-10 11:10] kirill-chilingarashvili opened #60 "Tests are not found in new project created with angular cli"
This may be issue with documentation as well, it does not describe steps required to make tests show up in explorer.

**Ask the question**
1) create new app with ng new app
2) have installed both "Test Explorer UI" and "Angular/Karma Test Explorer"
3) restart vs code
4)  follow the documentation: e.g. open test explorer and click "run"
result: nothing happens

expected:
to have documentation descr

[2019-10-10 11:35] Raagh commented on #60
Hey @kirill-chilingarashvili thank you for submitting the question. Indeed that might not be clear, I will change it.
Once you installed everything and restarted vscode you should see the tests in the explorer, the button run well it's for running them all together, not for making them appear.

The reason the documentation doesn't include nothing for angular cli projects is because is the default

[2019-10-10 11:43] kirill-chilingarashvili commented on #60
Hello @Raagh and thanks for your time.

I thought there are extra steps that need to be done.
Right now I reset all defaults to the plugin settings, and uninstalled it
then restarted vs and followed the steps you describe one by one exactly
arrow stops, but not a single test was found, although there is a test in an app

[2019-10-10 11:45] Raagh commented on #60
could you provide me with the test project you re using please?
also If this does not work, what happens if you run 'npm run test' on the new app?
in the vscode terminal there is an output channel called Test Explorer Logs, what information do you see there?

[2019-10-10 11:50] kirill-chilingarashvili commented on #60
This is test app
[test-app.zip](https://github.com/Raagh/angular-karma_test-explorer/files/3712317/test-app.zip)
This is the log:
[code]

And this is npm run test log
[code]

[2019-10-10 11:54] kirill-chilingarashvili commented on #60
Yeah I excluded it, do you really need it?
I can try to upload it

[2019-10-10 11:54] Raagh commented on #60
no worries, if its on purpose it doesn't matter

[2019-10-10 11:58] kirill-chilingarashvili commented on #60
With node_modules it is 60 MB compressed :)

[2019-10-10 11:59] Raagh commented on #60
Not really sure whats going on....
<img width="1021" alt="Screenshot 2019-10-10 at 13 57 44" src="https://user-images.githubusercontent.com/8405459/66566756-084d8380-eb66-11e9-9e12-33bdb9ba024a.png">

after npm install, closed vscode, open it again, wait a moment and there it is.....

[2019-10-10 12:01] kirill-chilingarashvili commented on #60
Might be OS...

[2019-10-10 12:08] Raagh commented on #60
Nope, also working on both vms Windows 10 and Ubuntu 18.04.2 .... could you try restarting your computer and not opening chrome or anything and just opening the project in vscode and waiting?

I wanna see some fresh logs without multiple restarts and tries or runs.

[2019-10-10 12:14] kirill-chilingarashvili commented on #60
I found the cure
It's not encouraging, but at least Other people can use this trick
By some reason if you even abandon vs code session/close it
There are a lot of orphan node processes left around
![image](https://user-images.githubusercontent.com/10229823/66567695-d691e800-eb78-11e9-8156-c861b605b3c0.png)
I killed them all and now the extension works!
![image](https://user-images.githubuserconten

[2019-10-10 12:17] kirill-chilingarashvili commented on #60
I can also confirm after I close the window (after the cleanup) the node process is killed, so it seems the processes were left there after some other operation (quickly opening/closing many vs code windows maybe?)

[2019-10-10 12:22] #60 closed

[2019-10-10 20:23] LucasLopesr commented on #53
same problem

[2019-10-10 20:31] Raagh commented on #53
Hi Lucas, your scenario is clearly different than the one reported in this issue. Could you create a separate bug report with the appropriate test project? Unfortunately never worked on electron before so I have no way to test it. After that I can help you solve your specific scenario in that bug report.

[2019-10-14 20:23] markusgraube commented on #53
Hi, same problem here. Also on a Ubuntu machine. However, I have an idea where the root of the problem could be:

It seems that `resolve-glob` is not finding my globally installed `@angular/cli` package. Then the scripts uses `npx @angular/cli test ....` to start the test server. However, this somehow fails.

When I now configure the **Angular Process Command** extension settings to `ng test`, the

[2019-10-15 17:38] Raagh commented on #53
Hi @markusgraube thank you for commenting on this, I am gonna try your scenario.

Regarding your question, ng test won't run if you don't have your angular cli installed globally. I am shocked that thats the way it works on ubuntu cause its not how it works on mac or windows.

ng is a global command that needs to be on your path to work, that's why I make the differentiation. If I find it globally

[2019-10-15 18:55] markusgraube commented on #53
Hi @Raagh , thank you for your quick reply.

I was able to find the failure in my setup caused by npm:
There are two paths where npm installs packages globally `/usr/local/lib/node_modules` and /usr/lib/node_modules`. I had different versions of @angular/cli installed in both directories.

Now I uninstalled the one from `/usr/lib/node_modules` and your extension works fine with running `npx @angul

[2019-10-17 19:55] DmitryEfimenko commented on #53
I'm having the same issue. I'm on Windows

[2019-10-17 19:57] Raagh commented on #53
Hi @DmitryEfimenko  how re you? thank you for commenting. do you mind creating a separate bug report? since scenarios are wildly different, not seeing the tests just doesn't refer to the same bug. After that I will help you fix it.

[2019-10-17 19:58] Raagh commented on #53
@markusgraube Glad that now everything is working for you. That was indeed a good find. I have been really busy lately but I am gonna check what can I do to improve the finding of the modules.

[2019-10-17 20:09] DmitryEfimenko commented on #53
@Raagh Thank you for a quick reply! That's refreshing. I'll create a new issue.

[2019-10-18 08:25] Raagh commented on #53
closing bug due to lack of response on the original user and its preventing other users to create bug reports on specific scenarios

[2019-10-18 08:25] #53 closed

[2019-10-21 15:22] zizifn opened #61 "Can new test auto reload?"
**Ask the question**
Thanks for your project!
I saw README  have `Detect file changes(workspace, new test definitions) and reload tests automatically.`
So i think new test can auto reload. But when i create new` it() ` in spec file, test explorer UI don't auto change. I need click reload tests, then will cause reload whole project, but this will spend lots time for my project.

So my questions is

[2019-10-21 20:34] Raagh commented on #61
Hey @zizifn thank you very much for downloading the extension. No you re not doing anything wrong, unfortunately that feature is still causing problems so I am currently working on a refactor. I will let you know when that feature is working so you can try it out. Sorry for the confusion.

[2019-10-21 20:34] #61 closed

[2019-10-24 14:50] joaorenno opened #62 "projectRootPath fails to resolve into a valid path"
**Describe the bug**
No tests are loaded because projectRootPath fails to resolve in my current environment.

**To Reproduce**
Not sure if it is easily reproducible outside of my local environment, but I just have to load my workspace in VSCode for the problem to happen. No errors in output log, only in console.

**Logs**
`extensionHost.ts:294 [Extension Host] debugger listening on port 62826
main

[2019-10-24 15:33] Raagh commented on #62
Hi @joaorenno thank you very much for submitting this bug. I will take a look at it when I get home, though I am not sure if I will be able to reproduce it without an electron app.

Since you already found a fix would you be able to submit a pull request with unit tests instead of a bug report? I would review that and approve it and release it.

[2019-10-24 19:03] joaorenno commented on #62
Sure! I will do it on the weekend though, if you don't mind waiting a little.
Thanks again!

[2019-10-25 13:40] Raagh commented on #62
Hey @joaorenno no worries, thank you very much for taking the time to find the bug, work on a solution and implement a fix, it means a lot to me

[2019-11-09 05:13] mikeasage opened #64 "Error: Configured debug type 'chrome' not supported. - Suggest adding Debugger for Chrome as possible extension"
I was having trouble getting debugging to work for my Angular CLI tests that use the Karma Chrome Plugin and was getting the following error:

Configured debug type 'chrome' not supported.

The documentation seemed to suggest all I needed was this extension and perhaps the Test Explorer extension.  I tried installing the Debugger for Chrome and this error went away and I was able to happily debug

[2019-11-11 08:48] Raagh commented on #64
Hey, yeah this is a good idea, I will make sure to include the debugger from chrome as mandatory extension the same way I did with the Test Explorer UI, that way it will be downloaded automatically when you download this one. Thanks for the suggestion 😄

[2019-11-11 08:48] #64 closed

[2019-11-12 19:53] #62 closed

[2019-11-12 20:29] Raagh commented on #57
I spend quite some time trying to reproduce this without success. the only way I managed to have similar errors is if I have multiple versions of node installed like happened for this [bug](https://github.com/Raagh/angular-karma_test-explorer/issues/33)

Could that be your case? could you check if you have multiple versions of node installed on your linux system?

[2019-11-24 08:16] kijy5428 opened #65 "Is the library type Angular project compatible with this extension for now?"
Hello Raagh
I am very glad to find out this extension in the marketplace!
And couldn't wait to use this in my project!
My project includes "application level app" and "library level apps" (nested in the application project)
I found it works fine with my AngularCLI project in the application level (can load the tests correctly)
However, something goes wrong when it comes to library level (complete

[2019-11-25 07:31] Raagh commented on #65
Hi @kijy5428  thank you for commenting, yes library support happen a few months ago. It was tested with a project another user uploaded and closed as done.

Could you provide me with a test project I can launch so I can replicate your issue? That way it's gonna be easier to know what's going on.

In principle there is no need for configuration to read a library if that library is specified in the

[2019-11-25 10:53] AlexTemina-Sopra commented on #57
Hey, sorry for the late response. Didn't see this.
I switched to Mac these days and now it works flawlessly. I did have 2 versions of node in my old laptop, though, and not now. Maybe that was the problem. We can close this.

Thanks for the support.

[2019-11-25 10:53] #57 closed

[2019-11-25 11:26] Raagh commented on #57
Hey Alex thank you for letting me know, I am glad that it's working for you. If you encounter any issue please let me know 😄

[2019-11-25 12:17] kijy5428 commented on #65
Hello @Raagh thank you for your quick response!
Due to some reason the project is not open for others developers now
However, knowing my project should be compatible with the extension
I will spend some more time to try on it
Thanks!!

[2019-11-25 12:17] #65 closed

[2019-11-25 19:30] benzittlau opened #66 "Auto-run runs before file change takes effect"
**Describe the bug**
When I have auto-run activated for a basic file, after making changes to the file that would change the result of the test (from passing to failing, or vice versa), and *saving* those changes, the first save doesn't reflect the updated state of the file.  Saving the file *again* after the first test run, without making any changes, shows the expected result.

**To Reproduce**

[2019-11-25 19:36] Raagh commented on #66
Hi @benzittlau thank you for reporting this with such a nice example.
Does the code recompiles before you run it again? The reason I ask this is because the test explorer cannot make the angular testing process faster, if you save then angular has to recompile, present the changed file to karma and then update internal breakpoints in the underlying Chrome instance(as it does if you were running 'n

[2019-11-25 19:39] benzittlau commented on #66
@Raagh Yes, I suspect that you're correct, but isn't that inherent in the context of this plugin?  When would there not need to be a recompilation after the test or subject file has been modified?

This is using the auto-run feature of this plugin (so I don't have control over whether the test is run "immediately after changing the file"), so how is that feature intended to work in a case like thi

[2019-11-25 19:44] Raagh commented on #66
Indeed it is, there is always gonna be a re compilation. What it could be a "solution" would be to block test execution until the compilation finished. There is no way for me to "speed up" the compilation/serving process.

[2019-11-25 19:47] benzittlau commented on #66
Agreed; I don't think I was implying that the fix was to speed up the compilation of Angular.  If that was the perception I apologize, I was just reporting that there's currently a race condition that makes the timing of auto-run unreliable agains the version of the code saved.

That plan sounds like a good one to resolve the issue.

[2019-11-25 19:49] Raagh commented on #66
Oh no not at all, sorry if it sounded that way. That is my internal developer speaking, that is what I would like to see as a user of the extension, unfortunately we will have to settle for the less nicer solution.

Again thank you for submitting this, I will report back when the pull request is merged and deployed 😄

[2019-12-25 15:47] amo-zhang commented on #38
@Raagh this issue still opened?
Not sure if it is the same issue in my vscode. I cannot load my tests in the explorer and the icon keeps spinning. The settings are default. No error in dev tool. Only two lines of logs when I open my project folder.
Starting Angular test enviroment for project
Listening to AngularReporter events on port 9999
I am very new to Angular and VSCode. I read the docs but

[2019-12-25 15:53] Raagh commented on #38
Hey @amo-zhang thank you for commenting here, probably just a configuration issue. So let me explain:

You have several ways of creating an Angular project, one is just installing angula, karma and creating all the files yourself, the other one is using the [AngularCLI](https://cli.angular.io/) which is a commandline tool that let's you create a new project and components/service/etc just by using

[2019-12-25 16:01] amo-zhang commented on #38
@Raagh Surprised to get response so fast in Christmas night~
The project is not created by me. I just started to maintain it...
I guess it is AngularCLI and I tried both Angular and AngularCLI but no luck. I don't know what else to check.

[2019-12-25 16:06] amo-zhang commented on #38
@Raagh I downloaded this hero project https://github.com/johnpapa/angular-tour-of-heroes and open in test view. Same as my project. Maybe you can try it.

[2019-12-25 16:07] Raagh commented on #38
@amo-zhang yeah I am an idiot, I should be doing something else maybe ahha.
Can you join this https://gitter.im/Angular-Karma-Test-Explorer/Bugs ?

I can help you there

[2019-12-25 22:00] Raagh commented on #38
@amo-zhang the problem is your karma version is too old, my extension uses --karma-config as argument to the process in order to specify a special karma config file. In the version of karma you re using this argument does not exists.

I am currently working a complete rebuild of the extension that should allow cases likes this to work, but it will take time. I will inform here when the version is

[2019-12-26 01:28] amo-zhang commented on #38
@Raagh I see my dev doc. It tells to run "npm install -g @angular/cli@1.7.4" so I guess my version is 1.7.4?

[2019-12-26 11:54] Raagh commented on #38
yes indeed, current version is v8.3.21

[2020-01-09 18:04] gayanper opened #67 "Not working with angular 8 cli projects"
No tests are shown in the test explorer for angular cli project which is created from the latest angular cli version which brings angular 8.

[2020-01-09 18:17] gayanper commented on #67
Working after uninstalling the jasmin adapter.

[2020-01-09 18:17] #67 closed

[2020-01-14 12:45] ZimboPro opened #68 "Overflowing results in UI"
**Describe the bug**
If the addon has not noted that there are more tests than discovered earlier and then just that components tests are run then the indicator to show that the tests passed flow into the following component tests

**To Reproduce**
create a component with 3 tests
create 2 other components that are disabled (xdescribe)
refresh the list in the UI
after done refreshing add 2 more tes

[2020-01-14 13:43] Raagh commented on #68
Hi @ZimboPro thank you for commenting, this is not a bug. This feature has not been implemented yet. It is marked in the pending features section. Unfortunately, I have been having little time to work on this project lately, but as soon as I get back to it, it's the first thing on my list.

[2020-01-20 22:02] zenonhun commented on #38
Can I ask the status of mocha support?
I have a non-angular (webcomponent based) project which uses karma and mocha and webpack to run tests in browser.
This project seems to be the one to have support for this setup. The extension start to execute the test project and can connect to the karma server, however no test spec is found.

[2020-01-21 09:30] bam opened #69 "Karma standalone project doesn't work"
**Describe the bug**
I can't use the extension with the project that doesn't use Angular but just Karma+Jasmine javascript unit tests.
Test explorer panel shows reload icon rotating all the time and there is no any test.

**To Reproduce**
1. Open new folder in VSCode
2. Install Karma: ```npm install karma --save-dev```
3. Install Jasmine, Chrome Launcher and karma-jasmine framework: ```npm install

[2020-01-21 10:05] #68 closed

[2020-02-20 19:27] nicmeriano opened #70 "Cannot activate the 'Angular/Karma Test Explorer' extension (WSL)"
I'm getting the following error:

`Cannot activate the 'Angular/Karma Test Explorer' extension because it depends on the 'Debugger for Chrome' extension, which is not loaded. `

This error only appears when running VS Code in WSL.

[2020-03-02 08:46] abeninskibede opened #71 "Is there any way to improve test discovery time?"
**Ask the question**
Is there any way to improve test discovery time?

I have around 20 tests and when I add a new test it takes around 20-30 secs to discover the new test when I manually click Reload tests.
I'm wondering if there is some kind of configuration to improve test discovery time.

[2020-03-02 14:51] abeninskibede commented on #71
Tested on a brand new project and the result was the same. 30-40 secs.

[2020-03-03 10:32] Raagh commented on #71
Hey @abeninskibede, first of all, thank you very much for downloading my extension, I really appreciate it.

Second, unfortunately, there is no configuration available that will improve the test discovery time.
I have a pending feature to use Karma discover so when Karma finds the new tests, the test explorer gets updated automatically without you having to reload.

Unfortunately, I don't have a l

[2020-03-03 10:32] #71 closed

[2020-03-04 08:10] abeninskibede commented on #71
hey @Raagh
Thanks for the answer.
I'll see if I can find time to try and fix it.

[2020-03-05 06:33] bronumski opened #72 "Unable to hit breakpoints"
**Ask the question**
I have the test explorer configured. It correctly finds the tests and allows me to run them. Output is clearly displayed in the test explorer logs. However if I try and debug the tests the breakpoints are not hit and VSCode reports that there is a possible source mapping problem. It's a great tool but it would be better if I could configure this last part.

![image](https://us

[2020-03-06 13:20] jcharlytown commented on #72
Hi,

I just ran into the exact same issue. To me it seems that karma causes this, as it adds prefix  `_karma_webpack_` to the source path. Following workaround fixes this for me. I modified the transient debugging config shipped with the extension to mind the prefix: In `~/.vscode/extensions/raagh.angular-karma-test-explorer-1.2.4/out/core/test-explorer/debugger.js` add additional setting

[code]

[2020-03-06 13:34] Raagh commented on #72
Hey @jcharlytown @bronumski , thank you very much for reporting this. I will try to look it up this weekend and fix it, I will also see how complicated is for me to expose a json for the debugger on the vscode extension ui.

[2020-03-06 23:15] bronumski commented on #72
@jcharlytown - thanks for the work around, I am going to give it a shot later.
@Raagh - thanks for taking the time to look in to it.

[2020-03-07 00:20] bronumski commented on #72
Thanks @jcharlytown, I can confirm that your work around worked for me.

[2020-03-24 04:02] craigryan opened #74 "How to get this working with ng and nx (monorepo)/ng"
**Ask the question**
Does this extension work without Jasmine Test Explorer? With a fresh angular app it doesn't show any tests when enabled, but does when I also enable Jasmine Test Explorer extension. Similarly if I disable your extension then jasmine test explorer doesn't work on its own and shows a blank explorer.

Another question: when I setup an Nx / Angular + karma project (monorepo) no ma

[2020-03-24 13:53] Raagh commented on #74
Hey, @craigryan thank you for commenting, no this project should not depend on jasmine test explorer. the only dependencies that this project has are the Test Explorer UI and the Debugger for chrome. Did you restart vscode between installs of the jasmine test explorer?

No, at the moment this project does not support Nx. Luckily, after months of only doing backend, I am back on working full time w

[2020-04-06 21:05] moudrick commented on #72
Thanks for the file location!
I use vscode-portable, so location was like `./data/extensions/raagh.angular-karma-test-explorer-1.2.4/out/core/test-explorer/debugger.js` for me

Basically, to get it working, I had to replace configuration there with my built up actually working one from `.vscode/launch.json`. It looked like this:

[code]
This configuration built up according to [the link at medium]

[2020-04-07 12:34] tomaszs opened #75 "Invalid provider for the NgModule 'DynamicTestModule' - only instances of Provider and Type are allowed"
When installing the extension and running a test a error shows up:

Invalid provider for the NgModule 'DynamicTestModule' - only instances of Provider and Type are allowed

[2020-04-07 12:41] tomaszs commented on #75
**to be deleted**

[2020-04-07 12:41] #75 closed

[2020-04-07 12:43] Raagh commented on #75
Hi @tomaszs , glad you figured out what the problem was, probably a wrong provider in your spec.ts file.
Have a nice day

[2020-04-07 12:51] tomaszs commented on #75
yes, the test itself was having a problem. Anyways I have installed the extension and it works like a charm. No more need to use f prefix to run specific test. Game changer! Thank you for your work on this one!

[2020-04-07 12:54] Raagh commented on #75
I am glad you liked it, indeed having to use F to run specific tests was what push me to make this ahha. I will start refactoring soon and try to improve performance and features.

[2020-04-07 12:58] tomaszs commented on #75
If you say so, for me it's perfect. It reminds me with NUnit gui, but way nicer and more useful

[2020-04-10 14:31] Raagh commented on #72
From today's build, you can add a new property to configuration called debugger configuration: this will take a JSON object containing the entire configuration you would use for using VSCode Debugger for Chrome.

No validation is done to these properties, it is your responsibility to use a configuration that works.

Please check the documentation to find the default configuration [https://github.c

[2020-04-10 14:31] #72 closed

[2020-04-16 16:05] Simon-TheHelpfulCat opened #76 "Extension causes high cpu load"
[raagh.angular-karma-test-explorer-unresponsive.cpuprofile.txt](https://github.com/Raagh/angular-karma_test-explorer/files/4488414/raagh.angular-karma-test-explorer-unresponsive.cpuprofile.txt)
- Issue Type: `Performance`
- Extension Name: `angular-karma-test-explorer`
- Extension Version: `1.2.5`
- OS Version: `Linux x64 5.3.0-46-generic`
- VSCode version: `1.44.1`

Find more details here: https:

[2020-05-04 11:55] nowconsulting opened #77 "Debugging Angular test runs on port 9876 and causes CORS error."
When I try to debug an Angular test using the Test Explorer, I get the following error:

Access to XMLHttpRequest at 'ng:///HttpsService/%C9%B5fac.js' from origin '**http://localhost:9876**' has been blocked by **CORS** policy: Cross origin requests are only supported for protocol schemes: http, data, chrome, https.

How to make this work, and where can the port be set if needed?  What should the

[2020-05-05 20:43] lana-k opened #78 "Browser attributes from karma.conf.js are overwritten"
## Environment:
- OS: Linux Mint 18.3
- Node v10.20.1
- karma v5.0.4
- karma-chrome-launcher v3.1.0
- Angular/Karma Test Explorer v1.2.5
- Test Explorer UI v2.18.0

## Steps to reproduce:

- set browser attributes  in `karma.conf.js` like this:
[code]
- reload tests in Test Explorer UI panel
*Expected result:* tests are displayed in Test Explorer UI panel
*Actual result*: infinite loading of tests

[2020-05-05 21:46] Raagh commented on #78
Hi @lana-k thank you for commenting. The error is happening because you don't have chrome installed. This extension uses vscode debugger for chrome and expects you to have chrome installed. The parameters are being overritten on purpose. That is the way the test explorer launches it's own instance to communicate and run the tests, if you would comment that code the extension would stop working for

[2020-05-05 21:55] lana-k opened #79 "No test found after updating karma-sinon-chai to >= v2.0.1"
## Environment:
- OS: Linux Mint 18.3
- Node v10.20.1
- karma v5.0.4
- karma-chrome-launcher v3.1.0
- karma-mocha v2.0.1
- karma-sinon-chai v2.0.2
- Angular/Karma Test Explorer v1.1.0
- Test Explorer UI v2.18.0

## Steps to reproduce:
- update `karma-sinon-chai` to >=v2.0.1
- reload tests in Test Explorer UI panel
**Expected result:** tests are displayed in the panel
**Actual result:** no tests fo

[2020-05-05 22:03] Raagh commented on #79
Hi @lana-k  thank you for commenting. Currently, only karma-jasmine is supported(which is the default for Angular). The weird pattern you mention is the way the test explorer can load all tests without running them. In karma-jasmine when you pass in a pattern that is not matched, it skips all tests so they can be read without running them, which is a great behavior for the load functionality. On r

[2020-06-09 10:51] MartinAskestad opened #80 "File debug.log is created in the project"
**Ask the question**
When use VS Code with this extension and run `ng serve` and then open chrome to browse the project, a file *debug.log* is created in the project root. And it can't be deleted because it's "in use". Is the file really supposed to be created there, can I prevent it from being created? Can I have it created somewhere else?

I've tried a few different combinations, and it seems th

[2020-06-10 06:30] MartinAskestad commented on #80
After closer examination, I've determined that it's the combination karma/jasmine and chrome that creates the log file. Since this extension uses that combination I pointed my finger a bit prematurely.

[2020-06-10 06:30] #80 closed

[2020-06-18 12:07] #78 closed

[2020-06-18 12:08] #79 closed

[2020-06-18 12:08] #74 closed

[2020-06-18 23:13] craigryan commented on #74
Sorry I had no idea you replied in March! I must of missed a notification
email? Anyway, good to hear you're planning to look into Nx - this is the
main reason some of our team move to IntelliJ just so the debug/testing is
as easy as with Java. So I look forward to any Nx updates!

thanks again
Craig

On Wed, Mar 25, 2020 at 12:54 AM Patricio Ferraggi <notifications@github.com>
wrote:

[2020-06-29 16:32] s4m0r4m4 commented on #74
+1 for nx support, that would be awesome! Should a separate feature request be created for that? Just so those of us interested in Nx support can track when its available?

[2020-07-04 17:49] yuren1978 opened #81 "No Tests Found"
**Ask the question**
When I open "test explorer",  it shows "no tests found"

**Additional context**
Here is what is displayed in Test Explorer logs

[11:01:19 AM] INFO: Starting Angular test enviroment for project: _my project name_
[11:01:19 AM] INFO: Listening to AngularReporter events on port 9999
[11:03:44 AM] INFO: Test loading completed - No tests found

When I turn debug on , it shows

[12

[2020-07-10 06:45] ocoka opened #82 "[Security] Plugin can't work in some environment"
It's dangerous to use npx to run command since, NPX has a old bug that prevent running specified script file and run instead local command, it this case
instead @angular/cli it's try to run 'cli' - mono compiler system command in my env path

How to reproduce, it simple: just try this
[code]
and you will just start NodeJS

DON'T TRY this )))
[code]

**Desktop (please complete the following informa

[2020-07-15 14:13] SewerynKras commented on #70
You need to force the Chrome extension to run inside WSL instead of locally. To do this simply add the following to your settings.json file:

[code]

[2020-08-03 16:02] TheColorRed opened #84 "Code coverage report(s)"
**Is your feature request related to a problem? Please describe.**
Our company needs an 80% code coverage for code to be accepted, this plugin doesn't seem to show that. I would like to see the following within the extension:

- Missing code coverage
- Code coverage summary

**Describe the solution you'd like**
I would like to be able to see a list of files missing code coverage, and a percentage

[2020-08-14 22:58] kh-nguyen-le opened #85 "Infinitely searching for tests"
**Describe the bug**
The extension cannot find my Angular tests and infinitely spins the reload icon. I know this issue gets posted a lot but I've read all of the other posts about it and cannot find a solution.

**To Reproduce**
https://github.com/kh-nguyen-le/rails-ng-demo

**Logs**
[6:30:22 PM] INFO: Starting Angular test enviroment for project: frontend
[6:30:23 PM] INFO: Listening to AngularR

[2020-08-15 00:09] kh-nguyen-le commented on #85
Ok, I forced @angular/cdk to update and it resolved the error traces. But the problem of not loading the tests still remains.

[2020-08-15 03:39] kh-nguyen-le commented on #85
Made some progress. I investigated further and found that I had 2 global angular-cli installs in /usr/local/lib/node_modules/ and /usr/lib/node_modules/ like @markusgraube described in #53 since I had install angular long before I installed n.
However the issue is still not resolved. I uninstalled angular from both directories (one at a time) but the extension still infinitely reloads until I run

[2020-09-07 05:45] lucono opened #87 "Debugger for Chrome extension is now retired (now vscode built-in extension)"
**Describe the bug**
The Angular/Karma Test Explorer extension has a [hard dependency](https://github.com/Raagh/angular-karma_test-explorer/blob/master/package.json#L87) on the [Debugger for Chrome](https://marketplace.visualstudio.com/items?itemName=msjsdiag.debugger-for-chrome) extension which ~is in the process of~ _has already been_ replaced by the new vscode built-in [JavaScript Debugger](htt

[2020-09-07 05:58] lucono opened #88 "Remote Development - Ability to customize extension's internal Karma browser configuration"
**Is your feature request related to a problem? Please describe.**
I develop in a container using vscode's [remote development](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-containers) feature. To launch Chrome browser in a container, it must be launched with the `--no-sandbox` flag. However, [the Chrome browser configuration](https://github.com/Raagh/angular-karma_t

[2020-09-07 06:10] lucono opened #89 "Tests are discovered but Code Lens and Show Source buttons are not displayed"
**Ask the question**
I am using the Angular/Karma Test Explorer extension in a Karma-only project for which the extension works great and discovers the tests, listing them in the Test panel, except that the _Show source_ icon which would normally appear next to each discovered test for navigating to the test location in the actual test files are not present, and there are also no code lens links a

[2020-09-07 08:01] lucono opened #90 "Ability to supply environment variables required for test execution"
**Problem:**
For tests that rely on environment variables (for instance, a `karma.conf.js` file that references environment variables), there is currently no way to supply those environment variables to the Angular/Karma Test Explorer for use in the test execution.

**Desired Solution**
It would be great to be able to supply an object in `settings.json` which provides the environment to be used fo

[2020-09-10 02:00] lucono commented on #87
@Raagh I've created pull request #91 to remove this dependency, and can make any modifications to the PR that you think necessary. Thanks for a great extension.

[2020-09-20 15:54] lucono commented on #87
Hi @Raagh, checking in if you might be able to review this issue and the PR. Let me know if there's anything more I can do to help get it reviewed for acceptance as I think it removes a significant barrier to being able to use this valuable extension for remote development scenarios as well.

[2020-10-02 09:21] andresbm05 opened #92 "Discovered tests are from another project"
When I installed this extension I had two VSCode editors opened each with a different project (let's call it _Project A_ and _Project B_).

I installed this extension in _Project A_ and clicked the reload button, but now in every project I open when I go to the Test Explorer panel it always shows the _Project B_ tests. Even though projects are not in the same directory it allways discover tests of

[2020-10-02 10:11] andresbm05 commented on #92
I have solved the problem.

For anyone having this issue, I uninstalled this extension and deleted the folder in ".../[USER_FOLDER]/.vscode/extensions/raagh.angular-karma-test-explorer-1.2.5". Then rebooted my PC and installed the extension again and it worked fine

[2020-10-02 10:11] #92 closed

[2020-10-13 12:36] the-ult commented on #74
@Raagh , does it work with NX projects?

The Test Explorer keeps loading.. And does not show/load the tests.

[2020-10-21 19:04] shanewaz-abbas commented on #87
@lucono I think you should make a new extension off of this as this one does not seem to be maintained very well.

[2020-10-23 08:19] hugoblanc commented on #89
You can get more informations about the error which is stucking the test explorer thread by using the
`angularKarmaTestExplorer.debugMode: true` in VSCode settings and looking into the extension output "Test explorer log"

[2020-11-01 16:14] raman-nbg commented on #54
Is there any progress on this? This feature would be really helpful for working with this

[2020-12-07 17:15] KitoCoding opened #94 "Failed Test Highlights row below issue"
The affected red highlighted area is highlighting the row below the actual issue.

Notice in the screenshot I have an issue on line 54. However the highlighted red is marking line 55. This is confusing the the user if line 55 has another statement. In my case, i commented out the lines to confirm the issue. Please see the image.

[2020-12-07 17:15] KitoCoding commented on #94
![bug](https://user-images.githubusercontent.com/6424119/101382366-e17fff80-3885-11eb-869d-4d6923ccb739.PNG)

[2021-01-03 14:38] harris-authors opened #96 "Unable to see tests in Test Explorer using"
Apologies if this is a very basic question - please feel free to point me to the documentation if I have missed something obvious.

I'm trying to use the Angular Karma Test Explorer 1.2.5 with Debugger for Chrome 4.12.11 and Test Explorer UI 2.19.3 on an Angular 11 project created using `ng new`

When I go to the Test Explorer no tests are displayed - however if I run 'ng test` It finds the three

[2021-01-04 15:26] callumcarolan-clevertech commented on #96
I am experiencing this issue also. tests run fine with ng test but do not show up in explorer and loading icon is permanently spinning. No output in terminal or extension log

[2021-01-06 08:21] mbrechet commented on #96
Hi, same problem for me too. Is there a workaround ?

[2021-01-06 13:25] callumcarolan-clevertech commented on #96
I have not found a workaround for this yet

[2021-01-06 14:09] skaempfer commented on #79
Hi @Raagh, I came across this issue while investigating the possible use of your test explorer in a tech setup including Aurelia, TypeScript, Webpack, Karma, Mocha and Chai. When switching Mocha with Jasmine it works smoothly.
My question: Are you aware of blockers that prevent supporting Mocha as well as Jasmine tests (besides the actual work of implementing support)? If you are not aware of show

[2021-01-06 14:44] mbrechet commented on #96
As a temporary solution I use jest with **Jest Test Explorer plugin** and it works. I just had to modify my test launch configuration to be compatible.

[2021-01-06 15:07] callumcarolan-clevertech commented on #96
@mbrechet What did you modify in the configuration?

[2021-01-07 09:22] mbrechet commented on #96
Hi, I follow @ahasall  tutorial to replace **Karma** by **Jest** and install **Jest Test Explorer plugin**  :

[https://www.amadousall.com/how-to-set-up-angular-unit-testing-with-jest/](https://www.amadousall.com/how-to-set-up-angular-unit-testing-with-jest)/

I works for me with Angular 11

The files in the .vscode folder are only useful if you want to debug directly in vscode during your tests.

[2021-01-22 13:31] s4m0r4m4 opened #98 "Open to additional Maintainers?"
Hello, looks like things have been busy for you lately and haven't been able to keep up with all the bug reports, etc. (it happens!). Are you open to adding me as a maintainer for this repo so that I can help merge PRs, etc.? Just looking to help out and fix a few bugs I'm running into myself, and I'm trying to understand if this repo is still maintained or if I should fork it and start my own ext

[2021-01-22 19:24] s4m0r4m4 commented on #96
I've run into this as well. For me the issue was this:

1. This extension assumes the target to launch from the selected project is called "test" and that it has a "karmaConfig" option specified.
2. I had a Jest-based target called "test", which was being launched by the extension (it does not check to see if it is truly a karma-based test)
3. The extension does not have a timeout when waiting to

[2021-01-22 19:55] callumcarolan-clevertech commented on #96
What are you referring to when you say "target"? Do you mean a command or entry point?

[2021-01-22 20:43] s4m0r4m4 commented on #96
In Angular parlance, targets are specific configurations that govern how the Angular CLI functions. So `ng build` is calling the `build` target of the Angular CLI. In a more practical sense - in the angular.json file, the targets are the keys within the `architect` object within a given project. So in the example below, `build`, `serve`, `test-jest`, and `test` are all targets for the angular proj

[2021-01-23 13:08] callumcarolan-clevertech commented on #96
Wonderful thank you.

On Fri, Jan 22, 2021 at 8:43 PM s4m0r4m4 <notifications@github.com> wrote:

[2021-01-23 17:28] harris-authors commented on #96
Thanks so much for the pointers. My problem was slightly different, but understanding what the extension was looking for from the target helped put me on the right track.

[2021-01-23 17:48] s4m0r4m4 commented on #96
Glad to hear it. I've submitted a PR to help provide a little more visibility to when tests don't appear, but there's certainly more work to be done. What was your fix? Hopefully we can document more of these to help others too. If you have things working, you can close this issue too.

[2021-02-01 17:27] s4m0r4m4 commented on #98
@Raagh any thoughts here? Would love to contribute my updates to this repo.

[2021-02-07 07:57] RAUNI-RISHABH opened #100 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `angular-karma-test-explorer`
- Extension Version: `1.2.5`
- OS Version: `Windows_NT x64 10.0.19041`
- VSCode version: `1.53.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-02-10 15:10] libinvarghese opened #101 "stderr: Install for [ '@angular/cli@latest' ] failed with code 1"
**Before submitting the bug report**
- [x] Make sure you enable DebugMode in vscode preferences and check the output channel Test Explorer Logs.
- [x] Make sure your project runs and 'ng test' properly runs all tests.

**Describe the bug**
After following the instruction in [Documentation](https://github.com/Raagh/angular-karma_test-explorer/blob/master/DOCUMENTATION.md), I open the Test Explorer.

[2021-02-17 12:15] s4m0r4m4 commented on #98
@Raagh trying again. Would you please consider adding me as a maintainer to help keep this repo alive?

[2021-02-19 09:05] Raagh commented on #98
Hi @s4m0r4m4, sorry for the delay, I have been out of a computer for quite some time so I have not been tracking the progress here. Sure, I would consider making you a maintainer if you l want to keep on working with this. I am not working with Angular anymore so it is not gonna be possible for me. Could you please contact me to pattferraggi@gmail.com ? we can plan a call or something :smile:

[2021-02-19 09:11] #38 closed

[2021-02-19 09:11] #58 closed

[2021-02-19 09:11] #66 closed

[2021-02-19 09:11] #69 closed

[2021-02-19 09:11] #70 closed

[2021-02-19 09:14] Raagh commented on #87
@lucono  @shanewaz-abbas Hi sorry for the delays in my responses, I have been out of the game for quite some time. I will make sure to add your PR as soon as possible and I am also in contact with people that have shown interest in becoming maintainers, as I don't work with Angular anymore.

[2021-02-19 09:14] #87 closed

[2021-02-19 09:14] #96 closed

[2021-02-19 09:16] Raagh commented on #100
⚠️ We have written the needed data into your clipboard. Please paste! ⚠️  ? what this means? Please use the appropriate template for submitting a bug or I will close the issue

[2021-02-19 09:17] #98 closed

[2021-02-19 16:09] RAUNI-RISHABH commented on #100
what is happening is my test cases are not being loaded most of the time it reloads and keeps on reloading and stop with no test case populated. happened with me most of the time and the reason I have to keep my editor always open until my work has not been completed. why what could be the reason? please help that would be so kind of you.

[2021-02-19 16:11] RAUNI-RISHABH commented on #100
even I have to delete my project uninstall vs code and reinstall it and again clone my project and that's so hectic things I could do

[2021-02-22 05:06] esskar commented on #69
I have the same problem. Whats the solution for it?

[2021-03-01 13:39] s4m0r4m4 commented on #100
Hi @RAUNI-RISHABH , we just released v1.2.8. Once you've upgraded to that version (should happen automatically in VS Code), please try again and check the output window for the test logs. This new version has some additional error handling that may show you what the issue is. It also shows the command used to launch the karma process (`ng test` for example), which may provide additional insight in

[2021-03-01 13:40] s4m0r4m4 commented on #89
Hi @lucono , we just released v1.2.8. Once you've upgraded to that version (should happen automatically in VS Code), please try again and check the output window for the test logs. This new version has some additional error handling that may show you what the issue is. It also shows the command used to launch the karma process (`ng test` for example), which may provide additional insight into what

[2021-03-01 13:41] s4m0r4m4 commented on #85
Hi @kh-nguyen-le , we just released v1.2.8. Once you've upgraded to that version (should happen automatically in VS Code), please try again and check the output window for the test logs. This new version has some additional error handling that may show you what the issue is. It also shows the command used to launch the karma process (`ng test` for example), which may provide additional insight int

[2021-03-01 13:42] s4m0r4m4 commented on #81
Hi @yuren1978 , we just released v1.2.8. Once you've upgraded to that version (should happen automatically in VS Code), please try again and check the output window for the test logs. This new version has some additional error handling that may show you what the issue is. It also shows the command used to launch the karma process (`ng test` for example), which may provide additional insight into w

[2021-03-01 13:43] s4m0r4m4 commented on #51
Hi @Nvveen , does the `angularKarmaTestExplorer.karmaConfFilePath` setting resolve this issue?

[2021-03-01 16:16] RAUNI-RISHABH commented on #100
ok thanx will try and thanx for the reply

On Mon, 1 Mar 2021 at 19:10, s4m0r4m4 <notifications@github.com> wrote:

[2021-03-04 03:33] kh-nguyen-le commented on #85
I am on 1.2.7 and don't have the option to upgrade to 1.2.8.
Also I changed my project to use Jest so I'll have to checkout an older version to test it.

[2021-03-08 03:54] s4m0r4m4 commented on #85
Sorry that's my bad, 1.2.8 is not yet released, working on that now.

[2021-03-09 20:10] skaempfer opened #105 "Make Angular/Karma Test Explorer work with test frameworks other than Jasmine"
**Is your feature request related to a problem? Please describe.**

The test explorer extension currently works only when using the Jasmine test framework. When using e.g. the Mocha test framework the test explorer does not find any tests.

**Describe the solution you'd like**

The test explorer works with any test framework that can be used with Karma, e.g. Mocha, QUnit, etc.

**Describe alternat

[2021-03-10 15:09] #101 closed

[2021-03-18 09:44] AE1NS opened #106 "Nesting describe-elements issue"
When I nest 'describe's in more than 2 layers, The output in the test sidebar does not show all.

[code]

When I click refresh in the VS Code 'Test' sidebar, I get this output:
[code]
![grafik](https://user-images.githubusercontent.com/47378799/111605700-cd2d9600-87d6-11eb-9007-80c8d0965d31.png)

[2021-03-20 14:32] s4m0r4m4 commented on #85
v1.2.8 is released, let me know if the enhanced logging messages help you solve your issue. Often times the issue is that the extension is not launching karma correctly for your config.

[2021-03-25 11:15] krilllind opened #107 "Support for Karma version 6"
**When will Karma 6 be supported**
We updated our karma and jasmine configuration to get better performance and resolve some bugs that we experienced.
I found this cool extension that I think would help out with our teams workflow, but after installing it, it's only loading and not displaying anything in the "test" section of VS code.

![image](https://user-images.githubusercontent.com/14158744/11

[2021-04-08 20:07] ratsey opened #109 "stderr: 'ng' is not recognized as an internal or external command"
From a new Angular CLI project, the Test Explorer Logs panel shows:

[code]

Angular CLI: 11.1.2
Node: 14.5.0
OS: win32 x64

Test Explorer UI: 2.19.6
Angular/Karma Test Runner: 1.2.8

I am able to run ng commands from the VSCode terminal (setup to run as Windows command prompt with nodevars as option). Also able to run Karma directly with ng test.

[2021-04-08 21:43] #109 closed

[2021-04-08 21:43] ratsey commented on #109
Idiot user. I didn't have npm in my path, but had it set as a shell parameter.

[2021-05-24 15:15] mauriciogracia commented on #107
I'm also looking forward for the support of Karma 6

[2021-05-27 16:24] zachsteffens commented on #84
Any traction on this? I'm hoping I could turn on a flag that would allow me to generate lcov reports from the test executed in the text explorer.  This would integrate really well with coverage gutters to get fast feedback when writing new tests.

[2021-06-14 17:28] CCurl commented on #44
I am having this problem. What does the

**[11:21:15 AM] ERROR: error from ng child process: Error: spawn ng ENOENT**

mean?

[2021-06-15 12:06] s4m0r4m4 commented on #44
@CCurl - ENOENT means the file or directory can't be found, so there's some issue with not finding the Angular files I'd bet. You could try wiping out node_modules and re-running npm install. If you continue to have issues, please open a new support ticket.

[2021-06-18 01:06] KChap33 commented on #100
Hi @s4m0r4m4, I have version 1.2.8 and am still experiencing the same issue as described by @RAUNI-RISHABH . The tests loaded the first time I installed the extension. Any subsequent use has left it just constantly loading and never finding any tests. Even thought I can run "ng test" on my project and it runs my tests

[2021-06-18 04:30] KChap33 commented on #85
Hi @s4m0r4m4, I have v1.2.8 installed and still have the same issue as descibed

[2021-06-18 12:06] s4m0r4m4 commented on #85
@KChap33 are you seeing any errors/output in the VS Code Extension output window?

[2021-06-19 12:41] elimarkov opened #114 "Can't debug Angular 10 tests"
Creating a new Angular 12 app and debugging tests works fine but in an Angular 10 application, the breakpoints are never hit (Unbound breakpoint).

[2021-06-19 13:02] elimarkov commented on #114
issue #72 provides the solution. The strange thing is that it is not required for Angular 12...

[2021-06-19 13:02] #114 closed

[2021-06-24 05:21] KChap33 commented on #85
Hi @s4m0r4m4 , no, there is no output in the extensions output window.

[2021-06-24 12:21] s4m0r4m4 commented on #85
Ok try this - enable debug mode in settings if you have not already (search for "debug" in VS Code settings and then navigate to "Angular/Karma Test explorer"). Restart VS Code just to be safe.
Then check the output of both "Test Explorer" and "Test Explorer Logs". If nothing shows up there, then try Help -> Toggle Developer Tools and see if there are any errors in that console.

[2021-06-30 15:10] AndySteelApd commented on #107
Karma 6 support would be needed as currently using 6

[2021-07-23 15:24] nateroling opened #115 "Infinite Spinner: Cypress Screenshots directories trip up the reporter"
We've got some Cypress tests in our app. When the Test Explorer fires up, it reads all the spec files. Unfortunately, the file pattern `**/*.spec.ts` also matches the **directories** that Cypress creates to hold screenshots! This causes `pathFinder.getTestFilesPaths` to bomb out.

I think you can use `{ nodir: true }` as an option to `glob.sync` to exclude directories, on path-finder.ts line 13.

[2021-08-01 14:44] Simon-TheHelpfulCat commented on #88
This extension is useless in a remote development container without the --no-sandbox flag.

[2021-08-05 13:51] s4m0r4m4 commented on #76
Hi Simon, can you confirm if this still an issue?

[2021-08-06 12:28] Simon-TheHelpfulCat commented on #76
It doesn't appear to be. To be honest I had forgotten I raised this!

[2021-08-06 12:28] #76 closed

[2021-08-06 21:13] s4m0r4m4 commented on #82
Hello @ocoka , do you have a suggested alternative?

[2021-08-06 21:17] s4m0r4m4 commented on #100
Hi @KChap33 , are you seeing anything in any of the logs from test explorer or angular Karma runner? If you can provide a repo to reproduce this I can investigate when I have time.

[2021-08-06 21:19] s4m0r4m4 commented on #89
@lucono is this still an issue?

[2021-08-06 21:20] s4m0r4m4 commented on #84
I'm open to the idea, but do not have time to pursue it directly myself. I'd welcome a PR :)

[2021-08-06 21:26] s4m0r4m4 commented on #51
I will close this as outdated if I don't hear anything else.

[2021-08-09 04:56] ocoka commented on #82
Hello, yes, in that time I've solved that with this settings:
`"angularKarmaTestExplorer.angularProcessCommand": "npx ng test"` in VSCode
but, I think, for now it is not a problem anymore, I do not tested since I've moved from Angular project to Blazor

[2021-08-09 11:48] s4m0r4m4 commented on #82
Sounds good I'll close this out then.

[2021-08-09 11:49] #82 closed

[2021-08-16 04:00] lucono commented on #89
@s4m0r4m4 I haven't used this in a while. I've been using a local fork with various fixes/updates I needed at the time last year, and have made some attempt recently to port those back into this project after it started accepting contributions again, but without much success as it's diverged quite significantly.

[2021-08-16 12:09] s4m0r4m4 commented on #89
Ok sounds good. Yes I'm very open to accepting new PRs and would welcome your contribution, feel free to open a draft PR if you'd like to discuss any specific changes.

[2021-08-24 12:05] evanliomain commented on #34
I think this issue is done. I run into the same [bug](https://github.com/Raagh/angular-karma_test-explorer/issues/33) as mention. I use  nvs as a node version manager, and I run it with this setting :
`"angularKarmaTestExplorer.angularProcessCommand": "~/.nvs/default/bin/node ./node_modules/@angular/cli/bin/ng test"`.

Replace `~/.nvs/default/bin/node` by the path of the node version you wish to l

[2021-08-25 16:15] smv-orrin commented on #85
I am having a similar problem to this, where it can only find SOME of the unit tests, but not all of them.  I keep having to retire/reset the tests and reload to get more tests to show up, but there seems to be an issue detecting all the tests.  Note that our project structure includes components within components within components, so maybe the layering is throwing it off?  Not sure, but wanted t

[2021-08-26 02:51] Edward-Zhou opened #118 "Debug throw error about Cannot connect to the target at localhost"
I am trying to configure this in my VS Code.

I followed the link [DOCUMENTATION ](https://github.com/Raagh/angular-karma_test-explorer/blob/master/DOCUMENTATION.md).

- I run command `ng test` to start my tests.
- Click the Debug icon in the Testing explorer

It throws error below:

[code]

Is there any more detail document to guide how to use this vs code addin?

[2021-08-28 20:34] s4m0r4m4 commented on #118
The documentation does not say to run `ng test` separately, the extension should take care of that on its own. Try just clicking the debug button and see if that works. You could also try changing the port if it's still breaking. Finally, make sure to look at the Output window for this extension to see if there are any errors there.

[2021-08-30 08:39] Edward-Zhou commented on #118
@s4m0r4m4  Thanks for your reponse, I make a test by clicking debug without `ng test`. It process correctly, but the breakpoints did not hit.

![image](https://user-images.githubusercontent.com/16079555/131311538-2be9d798-92ec-46ec-91ad-68dfb8147833.png)

[2021-09-29 02:36] lucono commented on #89
@s4m0r4m4 With the significant divergence and without much success porting the changes back to this project, I've taken some time since our conversation above to document it, add more tests, and have just published it to the marketplace as a [new extension](https://marketplace.visualstudio.com/items?itemName=lucono.karma-test-explorer) that's based on this extension.

[2021-10-20 13:23] bobbyg603 commented on #107
@krilllind @mauriciogracia @AndySteelApd tests will show up if you manually launch chrome and point it to the url/port specified in `karma.conf.js`. For the most part this works, however for me all tests are marked as duplicate ID, but they still run and report results.

[2021-11-02 02:49] s4m0r4m4 commented on #107
Hello! Yes, going forward I would suggest using that repo (https://github.com/lucono/karma-test-explorer). We are planning on deprecating this extension in favor of using that one, as it has more active support.

[2021-11-07 03:21] lucono commented on #89
Thanks @s4m0r4m4. What I think would make sense is to keep the Angular/Karma Test Explorer project, and put it in maintenance mode if no longer developing it, while potentially letting users know of the new extension so they can try it at their convenience without disruption to their use of the current extension.

[2021-11-11 15:05] mauriciogracia commented on #107
Good to know that the extension is getting updated

I have just open an issue for that new extension - https://github.com/lucono/karma-test-explorer/issues/15

[2021-11-13 19:25] s4m0r4m4 opened #122 "Update Extension to indicate Status"
Update the Extension readme and title to indicate it is no longer supported and refer to new plugin. See if there is some way to point to the new recommended extension in VS code.

See how they did it for the Chrome Debugger - https://github.com/microsoft/vscode-chrome-debug

[2021-11-20 18:17] s4m0r4m4 commented on #89
Ok! I will start directing folks to try your plugin. I also thought I found a way to officially deprecate an extension and point to a recommended replacement, but I can't find any info on how to do that (other than putting the word "deprecated" in the title). Let me know if you know how to do that and I'd be happy to make it happen.

[2021-11-20 18:17] #89 closed

[2021-11-20 18:19] s4m0r4m4 commented on #107
Closing this out, as we do not plan to support Karma 6 in this plugin.

Users are suggested to try https://github.com/lucono/karma-test-explorer for Karma 6.

[2021-11-20 18:19] #107 closed

[2021-11-20 18:29] s4m0r4m4 commented on #105
Good feature request, but we do not plan on implementing additional features for this extension.

Going forward we suggest using https://github.com/lucono/karma-test-explorer

We are planning on deprecating this extension in favor of using that one, as it has more active support.

[2021-11-20 18:29] s4m0r4m4 commented on #88
Good feature request, but we do not plan on implementing additional features for this extension.

Going forward we suggest using https://github.com/lucono/karma-test-explorer

We are planning on deprecating this extension in favor of using that one, as it has more active support.

[2021-11-20 18:30] s4m0r4m4 commented on #85
Going forward we suggest using https://github.com/lucono/karma-test-explorer

We are planning on deprecating this extension in favor of using that one, as it has more active support.

[2021-11-20 18:34] s4m0r4m4 commented on #40
Good feature request, but we do not plan on implementing additional features for this extension.

Going forward we suggest using https://github.com/lucono/karma-test-explorer

We are planning on deprecating this extension in favor of using that one, as it has more active support. Feel free to submit this issue on the new repo.

[2021-11-20 18:37] s4m0r4m4 commented on #54
Good request, but we do not plan on implementing additional features for this extension.

Going forward we suggest using https://github.com/lucono/karma-test-explorer

We are planning on deprecating this extension in favor of using that one, as it has more active support. Feel free to submit your request to that repo.

[2021-11-20 18:39] s4m0r4m4 commented on #77
Closing out due to lack of activity. There are also updated instructions on how to debug tests in the project documentation, which likely address this.

Going forward we suggest using https://github.com/lucono/karma-test-explorer

We are planning on deprecating this extension in favor of using that one, as it has more active support.

[2021-11-20 18:39] #77 closed

[2021-11-20 18:39] s4m0r4m4 commented on #81
Closing out due to lack of response. Going forward we suggest using https://github.com/lucono/karma-test-explorer

We are planning on deprecating this extension in favor of using that one, as it has more active support.

[2021-11-20 18:40] #81 closed

[2021-11-20 18:40] s4m0r4m4 commented on #90
Good request, but we do not plan on implementing additional features for this extension.

Going forward we suggest using https://github.com/lucono/karma-test-explorer

We are planning on deprecating this extension in favor of using that one, as it has more active support.

[2021-11-20 18:40] #90 closed

[2021-11-20 18:41] s4m0r4m4 commented on #100
Hello! Going forward we suggest using https://github.com/lucono/karma-test-explorer

We are planning on deprecating this extension in favor of using that one, as it has more active support. Feel free to submit your request to that repo if your issue persists.

[2021-11-20 18:41] #100 closed

[2021-12-05 19:59] Raagh commented on #122
Done

[2021-12-05 19:59] #122 closed, assigned to s4m0r4m4

[2021-12-05 19:59] #29 closed

[2021-12-05 19:59] #30 closed

[2021-12-05 19:59] #34 closed

[2021-12-05 19:59] #37 closed

[2021-12-05 19:59] #40 closed

[2021-12-05 19:59] #51 closed

[2021-12-05 19:59] #54 closed

[2021-12-05 19:59] #84 closed

[2021-12-05 19:59] #85 closed

[2021-12-05 19:59] #88 closed

[2021-12-05 19:59] #94 closed

[2021-12-05 19:59] #105 closed

[2021-12-05 19:59] #106 closed

[2021-12-05 19:59] #115 closed

[2021-12-05 19:59] #118 closed